
<%- include('../partials/header.ejs', { title: title}) %>
<link type="text/css" rel="stylesheet" href="/css/styleHome.css">
<link type="text/css" rel="stylesheet" href="/css/styleBrowse.css">

<div class="colored_background"></div>

<div style="height:80px !important;" class="colored_background_accent"></div>

<section class="filter_section d-flex justify-content-evenly mb-3">
    <div class="row">
        <div class="d-flex justify-content-center h-100">
          <form action="/browse/search_manga" method="get">
            <div class="search">
                <input type="search" name="searchQueryAnime" class="search-input" placeholder="Search..">
            </div>
            <button style="border:none; padding: 8px; margin-top:10px;width: 220px;" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>

  <div class="row">
    <div class="sec-center"> 	
      <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
      <label class="for-dropdown" for="dropdown">Genres<i class="fa fa-arrow-down"></i></label>
      <div class="section-dropdown"> 
          <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
          <a href="#">Action<i class="fa fa-arrow-right"></i></a>
          <a href="#">Adventure <i class="fa fa-arrow-right"></i></a>
          <a href="#">Superpower <i class="fa fa-arrow-right"></i></a>
          <a href="#">Comedy<i class="fa fa-arrow-right"></i></a>
          <a href="#">Fantasy <i class="fa fa-arrow-right"></i></a>
          <a href="#">Historical <i class="fa fa-arrow-right"></i></a>
          <a href="#">Drama<i class="fa fa-arrow-right"></i></a>
          <a href="#">Supernatural <i class="fa fa-arrow-right"></i></a>
          <a href="#">Martial Arts <i class="fa fa-arrow-right"></i></a>
          <a href="#">Dark Fantasy<i class="fa fa-arrow-right"></i></a>
          <a href="#">Shounen <i class="fa fa-arrow-right"></i></a>
          <a href="#">Superpower <i class="fa fa-arrow-right"></i></a>
          <a href="#">Shojo<i class="fa fa-arrow-right"></i></a>
          <a href="#">Romance <i class="fa fa-arrow-right"></i></a>
          <a href="#">Horror <i class="fa fa-arrow-right"></i></a>
          <a href="#">Psychological <i class="fa fa-arrow-right"></i></a>
          <a href="#">Thriller <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sec-center"> 	
        <input class="dropdown" type="checkbox" id="dropdown_2" name="dropdown"/>
        <label class="for-dropdown" for="dropdown_2">Year<i class="fa fa-arrow-down"></i></label>
        <div class="section-dropdown"> 
            <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
            <a href="#">2020<i class="fa fa-arrow-right"></i></a>
            <a href="#">2021 <i class="fa fa-arrow-right"></i></a>
            <a href="#">2022 <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>
  <div class="row">
    <div class="sec-center"> 	
        <input class="dropdown" type="checkbox" id="dropdown_3" name="dropdown"/>
        <label class="for-dropdown" for="dropdown_3">Status<i class="fa fa-arrow-down"></i></label>
        <div class="section-dropdown"> 
            <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
            <a href="#">Ongoing<i class="fa fa-arrow-right"></i></a>
            <a href="#">Finished <i class="fa fa-arrow-right"></i></a>
            <a href="#">Hiatus <i class="fa fa-arrow-right"></i></a>
            <a href="#">Planned <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
  </div>
</section>

<div class="recently_added_block">
  <a class="cardHeader_a" href="/browse/manga/recently_added">
    <div class="header_title_anime one">
      <h2 class="my_h2 text-light" style="margin-left: 20px !important;">RECENTLY ADDED MANGA</h2>
    </div>
  </a>
  <div class="recentAnime">
    <div class="animeCard">
      <% if (SearchResults && Array.isArray(SearchResults) && SearchResults.length > 0) { %>
        <% const recentAnimeList = SearchResults.slice(-12).reverse(); %> 
        <% recentAnimeList.forEach(manga => { %>
          <div class="card" style="margin-bottom: 20px;" title="<strong><%= manga.TitleEnglish %></strong>" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" 
            data-bs-content="
            <span class='badge bg-success me-1'><%= manga.Likes %></span>
              <% if (manga.Chapters) { %>
                <p><strong>Number of Chapters:</strong> <%= manga.Chapters %></p>
                <% } %>
                <% if (manga.Volumes) { %>
                  <p><strong>Number of Volumes:</strong> <%= manga.Volumes %></p>
                <% } %>
                <% if (manga.AnimeStatus) { %>
                  <p><strong>Status:</strong> <%= manga.AnimeStatus %></p>
                <% } %>
                  <p><strong>Genres:</strong><br>
                      <% const genres = manga.Genre.split(','); %>
                      <% genres.forEach(genre => { %>
                        <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                      <% }); %>
                  </p>">
            <a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>">
              <img class="cover_image" src="<%= manga.CoverImageURL %>" alt="<%= manga.TitleEnglish %>">
            </a>
            <div class="animeName">
              <a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>"><%= manga.TitleEnglish %></a>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p style="color:white;">No manga available in the database.</p>
      <% } %>
    </div>
  </div>
</div>
<button  id="load-more-button" class="load-more-button">
    Load More
  </button>


<div class="recently_added_block">
  <a class="cardHeader_a" href="/browse/manga/popular">
    <div class="header_title_anime one">
      <h2 class="my_h2 text-light" style="margin-left: 20px !important;">MOST LIKED MANGA</h2>
    </div>
  </a>
  <div class="recentAnime">
    <div class="animeCard2">
        <% if (MostLikedsearchResults && MostLikedsearchResults.length > 0) { %>
            <% MostLikedsearchResults.forEach((manga) => { %>
                
          <div class="card2" style="margin-bottom: 20px;" title="<strong><%= manga.TitleEnglish %></strong>" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" 
            data-bs-content="
            <span class='badge bg-success me-1'><%= manga.Likes %></span>
              <% if (manga.Chapters) { %>
                <p><strong>Number of Chapters:</strong> <%= manga.Chapters %></p>
                <% } %>
                <% if (manga.Volumes) { %>
                  <p><strong>Number of Volumes:</strong> <%= manga.Volumes %></p>
                <% } %>
                <% if (manga.AnimeStatus) { %>
                  <p><strong>Status:</strong> <%= manga.AnimeStatus %></p>
                <% } %>
                  <p><strong>Genres:</strong><br>
                      <% const genres = manga.Genre.split(','); %>
                      <% genres.forEach(genre => { %>
                        <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                      <% }); %>
                  </p>">
            <a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>">
              <img class="cover_image" src="<%= manga.CoverImageURL %>" alt="<%= manga.TitleEnglish %>">
            </a>
            <div class="animeName">
              <a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>"><%= manga.TitleEnglish %></a>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p style="color:white;">No manga available in the database.</p>
      <% } %>
    </div>
</div>
<button  id="load-more-button2" class="load-more-button">
    Load More
</button>

<div class="container mb-5">
  <a class="cardHeader_a" href="/browse/manga/top-100">
    <div class="header_title_anime one">
      <h2 class="my_h2 text-light" style="margin-left: 20px !important;">TOP 10 MANGA FAVOURITED BY USERS</h2>
    </div>
  </a>
  <div class='top_100'>
      <% if (MostFavouritedearchResults && Array.isArray(MostFavouritedearchResults) && MostFavouritedearchResults.length > 0) { %>
        <% const topList = MostFavouritedearchResults.slice(0,10); %>
          <% topList.forEach((anime, index) => { %>
              <div class="individual_card">
                  <div class="number text-light"><strong>#<%= index + 1 %></strong></div>
                  <div class="the_three">
                      <div class="name_box">
                          <img src="<%= anime.CoverImageURL %>" alt="Anime Image">
                          <div>
                              <p><a href="/manga/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><strong><%= anime.TitleEnglish %></strong></a></p>
                              <% const genres = anime.Genre.split(','); %>
                              <div>
                                  <% genres.forEach(genre => { %>
                                      <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                                  <% }); %>
                              </div>
                          </div>
                      </div>
                      <div class="details">
                          <p class="tv-details"><%= anime.Chapters %> Chapters</p>
                          <p class="tv-details"><%= anime.Volumes %> Volumes</p>
                          <p class="likes"><i class="fa fa-thumbs-up"></i> <%= anime.Likes %></p>
                      </div>
                  </div>
              </div>
          <% }); %>
      <% } else { %>
          <p style="color:white;">No manga available in the database.</p>
      <% } %>
  </div>
  
</div>

</div>
<script>
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
  </script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let displayedAnimeCount = 8;
  
        const animeCards = document.querySelectorAll(".animeCard .card");
  
        // Initially hide cards greater than 8
        animeCards.forEach((card, index) => {
            if (index >= displayedAnimeCount) {
                card.style.display = "none";
            }
        });
  
        document.getElementById("load-more-button").addEventListener("click", function () {
            for (let i = displayedAnimeCount; i < displayedAnimeCount + 8; i++) {
                if (i < animeCards.length) {
                    animeCards[i].style.display = "inline";
                }
            }
  
            displayedAnimeCount += 8;
  
            // Hide load more button if all anime are displayed
            if (displayedAnimeCount >= animeCards.length) {
                document.getElementById("load-more-button").style.display = "none";
            }
        });
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        let displayedAnimeCount = 8;
  
        const animeCards = document.querySelectorAll(".animeCard2 .card2");
  
        // Initially hide cards greater than 8
        animeCards.forEach((card, index) => {
            if (index >= displayedAnimeCount) {
                card.style.display = "none";
            }
        });
  
        document.getElementById("load-more-button2").addEventListener("click", function () {
            for (let i = displayedAnimeCount; i < displayedAnimeCount + 8; i++) {
                if (i < animeCards.length) {
                    animeCards[i].style.display = "inline";
                }
            }
  
            displayedAnimeCount += 8;
  
            // Hide load more button if all anime are displayed
            if (displayedAnimeCount >= animeCards.length) {
                document.getElementById("load-more-button2").style.display = "none";
            }
        });
    });
  </script>
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    </script>
  <%- include('../partials/footer.ejs') %>

</body>
</html>
