
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Admin - YourAnimeHub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="/css/styleAdminDash.css">
  </head>
  <body>


<!-- =============== Navigation ================ -->
<div class="container">
  <%- include('../partials_admin/admin_navigation.ejs') %>

  <!-- ========================= Main ==================== -->
  <div class="main">
      <div class="topbar">
          <div class="toggle">
              <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="search">
            <form action="/admin/search" method="GET">
                <label>
                    <input type="text" name="query" placeholder="Search here">
                    <button type="submit">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                </label>
            </form>
        </div>
        

          <div class="user">
              <img src="assets/imgs/customer01.jpg" alt="">
          </div>
      </div>

      

      <div class="add_edit_container">
        <h3 class="edit_btn">To Edit Manga, click on its Title</h3>
    </div>

      <!-- ================ Anime Details List ================= -->
      <div class="details">
          <div class="recentAnime">
              <div class="cardHeader">
                  <h2>All Mangas</h2>
              
              </div>
  
          
              <div class="animeCard">
                <% if (mangaList && Array.isArray(mangaList) && mangaList.length > 0) { %>
                  <% mangaList.forEach(manga => { %>
                    <div class="card">
                      <div class="image-container">
                        <img src="<%= manga.CoverImageURL %>" alt="<%= manga.TitleEnglish %>">
                      </div>
                      <div class="title-container">
                        <a href="/admin/mangas/edit/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>">
                          <%= manga.TitleEnglish %>
                        </a>
                        <a href="/admin/mangas/delete/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>" class="delete-btn">
                          <ion-icon name="close-outline"></ion-icon>
                        </a>
                      </div>
                    </div>
                  <% }); %>
                <% } else { %>
                  <p>No manga available in the database.</p>
                <% } %>
              </div>
              
            
            
            
            <div class="load-more-container">
              <button id="load-more-button" class="load-more-button">Load More</button>
            </div>


          <div class="add_edit_container">
              <a href="/admin/mangas/add" class="add_btn">Click to add Manga</a>
          </div>

        </div>

  
      </div>
  </div>
</div>

<%- include('../partials_admin/admin_delete_popup.ejs') %>

<%- include('../partials_admin/load_more_cards.ejs') %>
<%- include('../partials_admin/admin_toggle.ejs') %>




<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



</body>
</html>
