<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Admin - YourAnimeHub</title>
    <link type="text/css" rel="stylesheet" href="/css/styleAdminDash.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container_wb">
        <%- include('../partials_admin/admin_navigation.ejs') %>

        <!-- ========================= Main ==================== -->
        <div class="main_wb">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <a href="/user" class="user">
                    <img class="profile-picture" src="<%= user.ProfilePictureURL %>" alt="Profile Picture">
                </a>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">

                <a href="/admin/users" class="card-link">
                    <div class="card">
                        <div>
                            <div class="numbers"><%= userCount %></div>
                            <div class="cardName">Users</div>
                        </div>

                        <div class="iconBx">
                            <ion-icon name="list-circle-outline"></ion-icon>
                        </div>
                    </div>
                </a>
                <a href="/admin/animes" class="card-link">
                    <div class="card">
                        <div>
                            <div>
                                <div class="numbers"><%= animeCount %></div>
                                <div class="cardName">Anime</div>
                            </div>
                            <div>
                                <div class="numbers"><%= MangaCount %></div>
                                <div class="cardName">Manga</div>
                            </div>

                        </div>
                        <div class="iconBx">
                            <ion-icon name="list-circle-outline"></ion-icon>
                        </div>
                    </div>
                </a>

                <a href="/admin/quotes" class="card-link">
                    <div class="card">
                        <div>
                            <div class="numbers"><%= quoteCount %></div>
                            <div class="cardName">Quotes</div>
                        </div>

                        <div class="iconBx">
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                        </div>
                    </div>
                </a>

                <a href="/admin/characters" class="card-link">
                    <div class="card">
                        <div>
                            <div class="numbers"><%= characterCount %></div>
                            <div class="cardName">Characters</div>
                        </div>

                        <div class="iconBx">
                            <ion-icon name="people-circle-outline"></ion-icon>
                        </div>
                    </div>
                </a>
            </div>

            <div class="details">
                <div class="recentAnime">
                    <div class="cardHeader">
                      <h2>Recent Anime Added</h2>
                    </div>
                  
                    <div class="animeCard">
                      <% if (animeList && Array.isArray(animeList) && animeList.length > 0) { %>
                        <% const recentAnimeList = animeList.slice(-6).reverse(); %> 
                        <% recentAnimeList.forEach(anime => { %>
                          <div class="card">
                            <img src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                            <div class="animeName"><%= anime.TitleEnglish %></div>
                          </div>
                        <% }); %>
                      <% } else { %>
                        <p>No anime available in the database.</p>
                      <% } %>
                    </div>
                </div>
                  

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Users</h2>
                    </div>

                    <table>
                        <% if (userList && Array.isArray(userList) && userList.length > 0) { %>
                            <% const recentUserList = userList.slice(-6).reverse(); %> 
                            <% recentUserList.forEach(users => { %>
                              <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="<%= users.ProfilePictureURL %>" alt="User Profile Picture"></div>
                                </td>
                                <td>
                                    <h4><%= users.Username %> <br> <span><%= users.UserRole %></span></h4>
                                </td>
                            </tr>
                            <% }); %>
                          <% } else { %>
                            <p>No users available in the database.</p>
                          <% } %>
                    </table>
                </div>

                <div class="recentAnime">
                    <div class="cardHeader">
                        <h2>Recent Character Added</h2>
                    </div>
        
                    <div class="animeCard">
                        <% if (characterList && Array.isArray(characterList) && characterList.length > 0) { %>
                          <% const recentCharacterList = characterList.slice(-6).reverse(); %> 
                          <% recentCharacterList.forEach(character => { %>
                            <div class="card">
                              <img src="<%= character.ImageURL %>" alt="<%= character.CharName %>">
                              <div class="animeName"><%= character.CharName %></div>
                            </div>
                          <% }); %>
                        <% } else { %>
                          <p>No characters available in the database.</p>
                        <% } %>
                      </div>
                    </div>
                </div>
 
                    <div>
                        <h2 class="cardHeader">Recently Added Quotes</h2>
                    </div>
                    <div class="quoteCard">
                        <% if (quoteList && Array.isArray(quoteList) && quoteList.length > 0) { %>
                            <% const recentQuoteList = quoteList.slice(-3).reverse(); %> 
                            <% recentQuoteList.forEach(quote => { %>
                
                                <div class="card">
                                <a href="/admin/quotes/edit/<%= quote.QuoteID %>" class="edit-btn">
                                    <blockquote class="quote_block"><%= quote.QuoteText %>
                                        <div class="quoteDetails">
                                            <span class="animeTitle"><b>Anime:</b> <%= quote.AnimeName %> |</span>
                                            <span class="characterName"><b>Character:</b> <%= quote.CharacterName %></span>
                                        </div>
                                        <a href="/admin/quotes/delete/<%= quote.QuoteID %>" class="delete-btn">
                                            <ion-icon name="close-outline"></ion-icon>
                                        </a>
                                    </blockquote>
                                </a>
                            </div>
                          <% }); %>
                        <% } else { %>
                          <p>No quotes available in the database.</p>
                        <% } %>
                      </div>
            
            </div>
        </div>
    </div>

    <%- include('../partials_admin/admin_toggle.ejs') %>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>