<%
const title = 'Admin - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>

<link type="text/css" rel="stylesheet" href="/css/styleAdminAdd.css">

<section class="add_wrapper">
  <div class="container">
    <div class="title">Edit An Anime</div>
    <form action="/admin/animes/update/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>" method="post">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Title (English)*:</span>
                <input type="text" id="titleEnglish" name="titleEnglish" value="<%= anime.TitleEnglish %>" required>
            </div>
            <div class="input-box">
                <span class="details">Title (Romaji):</span>
                <input type="text" id="titleRomaji" name="titleRomaji" value="<%= anime.TitleRomaji %>">
            </div>
            <div class="input-box">
                <span class="details">Title (Native):</span>
                <input type="text" id="titleNative" name="titleNative" value="<%= anime.TitleNative %>">
            </div>
            <div class="input-box">
                <span class="details">Genre*:</span>
                <input type="text" id="genre" name="genre" value="<%= anime.Genre %>" required>
            </div>
            <div class="input-box">
                <span class="details">Release Date*:</span>
                <input type="text" id="releaseDate" name="releaseDate" placeholder="YYYY-MM-DD" value="<%= anime.ReleaseDate %>" required>
            </div>
            <div class="input-box">
                <span class="details">End Date:</span>
                <input type="text" id="endDate" name="endDate" placeholder="YYYY-MM-DD" value="<%= anime.EndDate %>">
            </div>
            <div class="input-box">
                <span class="details">Anime Status*:</span>
                <input id="animeStatus" name="animeStatus" value="<%= anime.AnimeStatus %>" required>
            </div>
            <div class="input-box">
                <span class="details">Type Format*:</span>
                <input type="text" id="typeFormat" name="typeFormat" value="<%= anime.TypeFormat %>" required>
            </div>
            
            <div class="input-box">
                <span class="details">Cover Image URL*:</span>
                <input type="text" id="coverImageURL" name="coverImageURL" value="<%= anime.CoverImageURL %>" required>
            </div>
            <div class="input-box">
                <span class="details">Background Image URL*:</span>
                <input type="text" id="backgroundImageURL" name="backgroundImageURL" value="<%= anime.BackgroundImageURL %>" required>
            </div>
            <div class="input-box">
                <span class="details">Streaming Platform URL:</span>
                <input type="text" id="streamingPlatformURL" name="streamingPlatformURL" value="<%= anime.StreamingPlatformURL %>">
            </div>
            <div class="input-box">
                <span class="details">Episode/Movie Duration (in min):</span>
                <input type="text" id="episodeDuration" name="episodeDuration" value="<%= anime.EpisodeDuration %>" >
            </div>
            <div class="input-box">
                <span class="details">Episode Count:</span>
                <input type="number" id="episodeCount" name="episodeCount" value="<%= anime.EpisodeCount %>">
            </div>
            <div class="input-box">
                <span class="details">Chapters:</span>
                <input type="number" id="chapters" name="chapters" value="<%= anime.Chapters %>">
            </div>
            <div class="input-box">
                <span class="details">Volumes:</span>
                <input type="number" id="volumes" name="volumes" value="<%= anime.volumes %>">
            </div>
            <div class="input-box">
                <span class="details">Synopsis:</span>
                <textarea id="synopsis" rows="4" cols="50" name="synopsis"><%= anime.Synopsis %></textarea>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Edit Anime">

        </div>
    </form>
</div>
</section>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>