
<%
const title = character ? `${character.CharName} - YourAnimeHub` : 'YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title}) %>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">
<link type="text/css" rel="stylesheet" href="/css/styleViewCharacter.css">
<link type="text/css" rel="stylesheet" href="/css/styleViewAnime.css">


<style>
    .hero:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      background: white;
      z-index: -1;
      transform: skewY(-2.2deg);
      transform-origin: 0 0;
    }
  </style>
  
  
  <div class="anime_card">
    
      
      <img src="<%= character.ImageURL %>" alt="cover" class="cover" />
          
      <div class="hero">
        <div class="overlay"></div>
        <div class="details">
        
          <div class="title1"><%= character.CharName %></div>
          <% if (character.NamesGiven) { %>
            <p class="names_given"><%- character.NamesGiven%></p>
            <% } %>

            <% if (character.HiddenSurnames) { %>
                <p class="spoiler" id="HiddenSurnames">
                    <%- character.HiddenSurnames%>
                </p>
            <% } %>
            <div class="spoiler-tooltip" id="spoilerTooltip">This section could contain spoilers.</div>
          
        </div> <!-- end details -->
      </div>
  </div> <!-- end movie-card -->
  
  <div class="add_like_description_container">
    <div class="add_like_container">
      <button id="like_btn" class="like_btn" onclick="window.location.href='';">
        <i class="fa fa-thumbs-up"><%= character.Likes%></i>
      </button>
    </div>



    <div class="description">
      <p style="color:white;"><%= character.CharSynopsis %></p>
    </div>
    
    
  </div>
  <div class="more_inf_cont">
    <% if (is_character_favourited == false) { %>
      <form action="/user/favourites/character/add/<%= character.CharacterID%>" method="post">
        <button type="submit" class="fav_btn">
          <i class="fa fa-heart-o"></i>
        </button>
      </form>
    <% } %>
    <% if (is_character_favourited == true) { %>
      <form action="/user/favourites/character/remove/<%= character.CharacterID%>" method="post">
        <button type="submit" class="fav_btn">
          <i class="fa fa-heart"></i>
        </button>
      </form>
    <% } %>
      <div>
        <h2 class="my_h2" style="color: #ffeba7;">MORE INFORMATION</h2>
      </div>  
        <div class="more_inf_content">
            <% if (character.Birthday) { %>
                <li><b>Birthday:</b> <%= character.Birthday %></li>
            <% } %>
            <% if (character.Age) { %>
            <li><b>Age:</b> <%= character.Age %> </li>
            <% } %>
            <% if (character.Height) { %>
                <li><b>Height:</b> <%= character.Height %></li>
            <% } %>
            <% if (character.Gender) { %>
                <li><b>Gender:</b> <%= character.Gender %></li>
            <% } %>
            
            <% if (character.Family) { %>
                <h5 style="margin-top:20px; color:#ffeba7;">Family</h5>
                <p style="width: 850px;"><%- character.Family %></p>
            <% } %>

            <% if (character.SpecificField1) { %>
                <h5 style="margin-top:20px; color:#ffeba7;">More Info</h5>
                <p><%- character.SpecificField1 %></p>
            <% } %>
        </div>

    </div>
    <hr class="rounded">
    <div class="more_inf_cont">
      <div>
        <h2 class="my_h2" style="margin-top: 20px; color: #ffeba7;">RELATED ANIME</h2>
      </div>  
      <div class="more_inf_content">
        <div class="character_grid">
          <% for (let i = 0; i < Math.min(6, related_anime.length); i++) { %>
            <div class="character_item">
              <% if (related_anime[i].AnimeFormat === 'Anime') { %>
                <a href="/anime/<%= related_anime[i].AnimeID %>/<%= related_anime[i].TitleEnglish %>">
                  <img src="<%= related_anime[i].CoverImageURL %>" alt="<%= related_anime[i].TitleEnglish %>">
                <p style="color: white; font-weight: 600; margin-top: 10px;"><%= related_anime[i].TitleEnglish %></p>
                </a>
              <% } else if (related_anime[i].AnimeFormat === 'Manga') { %>
                <a href="/manga/<%= related_anime[i].AnimeID %>/<%= related_anime[i].TitleEnglish %>">
                  <img src="<%= related_anime[i].CoverImageURL %>" alt="<%= related_anime[i].TitleEnglish %>">
                <p style="color: white; font-weight: 600; margin-top: 10px;"><%= related_anime[i].TitleEnglish %></p>
                </a>
              <% } %>
              
            </div>
          <% } %>
        </div>
      </div>
    </div>
    
     
    
  </div>
  
  
  
  <%- include('../partials/footer.ejs') %>
  <script>
    const spoilerText = document.getElementById('HiddenSurnames');
    const tooltip = document.getElementById('spoilerTooltip');

    let isSpoilerVisible = false;

    spoilerText.addEventListener('mouseover', () => {
        tooltip.style.display = 'block';
    });

    spoilerText.addEventListener('mouseout', () => {
        if (!isSpoilerVisible) {
            tooltip.style.display = 'none';
        }
    });

    spoilerText.addEventListener('click', () => {
        if (isSpoilerVisible) {
            spoilerText.style.filter = 'blur(5px)';
            tooltip.style.display = 'none';
        } else {
            spoilerText.style.filter = 'none';
            tooltip.style.display = 'block';
        }

        isSpoilerVisible = !isSpoilerVisible;
    });
</script>

</body>
</html>
