<%
const title = quote ? `Quote #${quote.QuoteID} - YourAnimeHub` : 'YourAnimeHub';
%>



<%- include('../partials/header.ejs', { title: title }) %>

<link type="text/css" rel="stylesheet" href="/css/styleViewReview.css">

<style>
  .review-container {
    position: relative;
    height: 270px;
    background: url("<%= quote.BackgroundImageURL %>");
    overflow: hidden;
  }

  .review-text{
    text-align: center;
  }
</style>

<div class="review-container">
  <div class="overlay"></div>
  <div class="content">
      <h2><a href="/anime/<%= quote.AnimeID %>/<%= quote.TitleEnglish %>"><%= quote.TitleEnglish %></a></h2>
      <h4>A Quote By <a href="/character/<%= quote.CharacterID %>/<%= quote.CharName %>"><%= quote.CharName %></a></h4>
    
  </div>
  
</div>

<div class="review-text">
  <p><%= quote.QuoteText %></p>
</div>


<div class="review-like">
  <% if (is_quote_favourited == false) { %>
    <form action="/user/favourites/quotes/add/<%= quote.QuoteID%>" method="post">
      <button type="submit" class="like_btn">
        <i class="fa fa-heart-o"></i>
      </button>
    </form>
  <% } %>
  <% if (is_quote_favourited == true) { %>
    <form action="/user/favourites/quotes/remove/<%= quote.QuoteID%>" method="post">
      <button type="submit" class="like_btn">
        <i class="fa fa-heart"></i>
      </button>
    </form>
  <% } %>
</div>




<%- include('../partials/footer.ejs') %>

</body>
</html>
