<%
const title = 'Browse Characters - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title}) %>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- Your custom CSS -->
<link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">
<link type="text/css" rel="stylesheet" href="/css/styleViewCharacter.css">

</head>
<body>

  <div class="background"></div>

<div class="background_accent"></div>

<div class="container">
  <div class="character_cont">

    <div class="row">

        <div class="col-md-12 character_hover">

            <div class="portrait">
                <img class="cover_image img-fluid" src="<%= character.ImageURL %>" alt="<%= character.charName %>">
            </div>

            <div class="character_name">
                <%= character.CharName %>
            </div>

            <div class="quick_stats text-center">

                <div class="stat_cont">
                    <ul class="stats list-unstyled">
                        <% if (character.Birthday) { %>
                            <li><b>Birthday:</b> <%= character.Birthday %></li><br>
                        <% } %>
                        <% if (character.Age) { %>
                          <li><b>Age:</b> <%= character.Age %> </li>
                        <% } %>
                        <% if (character.Height) { %>
                            <li><b>Height:</b> <%= character.Height %></li><br>
                        <% } %>
                        <% if (character.Gender) { %>
                            <li><b>Gender:</b> <%= character.Gender %></li>
                        <% } %>
                    </ul>
                </div>

            </div>

            <div class="character_links">
                <a href="#" class="btn btn-light">Related Manga:</a>
                <a href="#" class="btn btn-light heart-btn">&#10084;</a>
            </div>
            
            <div class="biography_cont">
                <div class="biography">

                    <% if (character.NamesGiven) { %>
                        <h2>Given Names</h2>
                        <p style="font-size:10px !important; margin: 0 !important;"><%- character.NamesGiven%></p>
                    <% } %>

                    <% if (character.HiddenSurnames) { %>
                        <h2>Hidden Names</h2>
                        <p style="font-size:10px !important; margin: 0 !important; padding:0;" class="spoiler" id="HiddenSurnames">
                            <%- character.HiddenSurnames%>
                        </p>
                    <% } %>

                    <div class="spoiler-tooltip" id="spoilerTooltip">This section could contain spoilers.</div>

                    <h1>Description</h1>
                    <%- character.CharSynopsis.replace(/\\n\\n/g, '<br><br>') %>

                    <% if (character.Family) { %>
                        <h1>Family</h1>
                        <p style="font-size:12px !important; margin: 0 !important;"><%- character.Family %></p>
                    <% } %>

                    <% if (character.SpecificField1) { %>
                        <h1>More</h1>
                        <p style="font-size:10px !important; margin: 0 !important;"><%- character.SpecificField1 %></p>
                    <% } %>

                </div>
            </div>

        </div>

    </div>
  </div>
  <div class="character_cont">

    <div class="row">


    </div>
  </div>
</div>

<%- include('../partials/footer.ejs', { title: title }) %>

<script>
    const spoilerText = document.getElementById('HiddenSurnames');
    const tooltip = document.getElementById('spoilerTooltip');

    spoilerText.addEventListener('mouseover', () => {
        tooltip.style.display = 'block';
    });

    spoilerText.addEventListener('mouseout', () => {
        tooltip.style.display = 'none';
    });

    spoilerText.addEventListener('click', () => {
        spoilerText.style.filter = 'none';
        tooltip.style.display = 'none';
    });
</script>
</body>
</html>
