<%
const title = manga ? `${manga.TitleEnglish} - YourAnimeHub` : 'YourAnimeHub';
%>

<%- include('../partials/header.ejs', { title: title }) %>

<link type="text/css" rel="stylesheet" href="/css/styleViewAnime.css">
<style>
  .hero:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: red;
    background: url("<%= manga.BackgroundImageURL %>");
    z-index: -1;
    transform: skewY(-2.2deg);
    transform-origin: 0 0;
  }
</style>


<div class="anime_card">
  
    
    <img src="<%= manga.CoverImageURL %>" alt="cover" class="cover" />
        
    <div class="hero">
      <div class="overlay"></div>
      <div class="details">
      
        <div class="title1"><%= manga.TitleEnglish %></div>
        
      </div> <!-- end details -->
    </div>
</div> <!-- end movie-card -->

<div class="add_like_description_container">
  <div class="add_like_container">
    <button id="add_btn" class="add_btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false";>
      Add to List
    </button>
    <ul class="dropdown-menu">
      <form action="/manga/<%= manga.AnimeID %>/set" method="post">
        <li>
           <button type="submit" name="action" value="mset-complete" class="dropdown-item" <% if (animeStatus === 'mset-complete') { %>disabled<% } %>>Set as Complete</button>
        </li>
        <li>
           <button type="submit" name="action" value="mset-reading" class="dropdown-item" <% if (animeStatus === 'mset-reading') { %>disabled<% } %>>Set as Reading</button>
        </li>
        <li>
           <button type="submit" name="action" value="mset-planning" class="dropdown-item" <% if (animeStatus === 'mset-planning') { %>disabled<% } %>>Set as Planning</button>
        </li>

     </form>
   </ul>
   
    
   <form action="/manga/<%= manga.AnimeID %>/like" method="post">
    <button type="submit" class="like_btn">
        <i class="fa fa-thumbs-up"></i>
        <%= manga.Likes %>
    </button>
  </form>
  </div>
  <div class="description">
    <p style="color:white;"><%= manga.Synopsis %></p>
  </div>
  
</div>



<!-- Menus text above the hr -->
<div class="menus">
  <% if (is_manga_favourited == false) { %>
    <form action="/user/favourites/manga/add/<%= manga.AnimeID%>" method="post">
      <button type="submit" class="edit_btn">
        <i class="fa fa-heart-o"></i>
      </button>
    </form>
  <% } %>
  <% if (is_manga_favourited == true) { %>
    <form action="/user/favourites/manga/remove/<%= manga.AnimeID%>" method="post">
      <button type="submit" class="edit_btn">
        <i class="fa fa-heart"></i>
      </button>
    </form>
  <% } %>
  <a href="/manga/<%= manga.AnimeID%>/<%= manga.TitleEnglish%>"><p>Overall</p></a>
  <a href="/manga/<%= manga.AnimeID%>/<%= manga.TitleEnglish%>/characters#char"><p>Characters</p></a>
  <a href="/manga/<%= manga.AnimeID%>/<%= manga.TitleEnglish%>/reviews#rev"><p>Reviews</p></a>
  <% if ((user && (user.UserRole === 'User' || user.UserRole === 'Admin')) && (user_info_about_anime !== null && user_info_about_anime && user_info_about_anime.AnimeStatus !== null)) { %>
    <a href="/manga/<%= manga.AnimeID%>/<%= manga.TitleEnglish%>/user-info#info"><p>Your Info</p></a>
  <% } %>

  <% if ((user && user.UserRole === 'User'||user && user.UserRole === 'Admin')) { %>
  <button id="addManuallyBtn" class="edit_btn">
      <i class="fa fa-pencil"></i>
  </button>

  <!-- Modal -->
  <div id="addManuallyModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <img src="<%= manga.BackgroundImageURL %>" alt="background" class="modal-background">
      <div class="modal-overlay"></div>
      <h2 class="modal-title"><%= manga.TitleEnglish %></h2>
      
      <!-- Form -->

      <% if (user_info_about_anime === null) { %>
        <form action="/manga/<%= manga.AnimeID %>/edit" method="post">
          <div class="form-group">
            <label><strong>Status</strong></label>
            <select class="form-select" name="status">
              <option value="mset-complete">Completed</option>
              <option value="mset-reading">Reading</option>
              <option value="mset-planning">Planning to Read</option>
              <option value="mset-paused">Paused</option>
              <option value="mset-dropped">Dropped</option>
              <option value="mset-rereading">Rereading</option>
          </select>
          
          </div>
          <label for="rate"><strong>Rate:</strong></label> <i class="fa fa-star"></i>
          <input type="number" min="1" max="5" name="rate" id="rateInput" class="form-control" placeholder="Enter a number from 1 to 5">
  
          <!-- Chapter Progress -->
          <label for="episodeProgress"><strong>Chapter Progress:</strong></label>
          <input class="form-control" type="number" id="chapterProgress" name="chapterProgress" placeholder="How far along are you out of <%= manga.Chapters %> chapters">

          <!-- Volume Progress -->
          <label for="episodeProgress"><strong>Volumes Progress:</strong></label>
          <input class="form-control" type="number" id="volumeProgress" name="volumeProgress" placeholder="How far along are you out of <%= manga.Volumes %> volumes">

          <!-- Start Date -->
          <label for="startDate"><strong>Start Date:</strong></label>
          <input class="form-control" type="date" id="startDate" name="startDate">
  
          <!-- Finish Date -->
          <label for="finishDate"><strong>Finish Date:</strong></label>
          <input class="form-control" type="date" id="finishDate" name="finishDate">
  
          <!-- Total Rereads -->
          <label for="totalRereads"><strong>Total Rereads:</strong></label>
          <input class="form-control" type="number" id="totalRereads" name="totalRereads">
  
          <!-- Notes -->
          <label for="notes"><strong>Notes:</strong></label>
          <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
  
          <!-- Save button -->
          <button class="like_btn" type="submit">Save</button>
        </form>
    <% } else { %>
      <form action="/manga/<%= manga.AnimeID %>/edit" method="post">
        <div class="form-group">
          <label><strong>Status</strong></label>
          <select class="form-select" name="status">
            <option value="mset-complete" <% if (user_info_about_anime.AnimeStatus === 'mset-complete') { %>selected<% } %>>Completed</option>
            <option value="mmset-reading" <% if (user_info_about_anime.AnimeStatus === 'mmset-reading') { %>selected<% } %>>Reading</option>
            <option value="mset-planning" <% if (user_info_about_anime.AnimeStatus === 'mset-planning') { %>selected<% } %>>Planning to Read</option>
            <option value="mset-paused" <% if (user_info_about_anime.AnimeStatus === 'mset-paused') { %>selected<% } %>>Paused</option>
            <option value="mset-dropped" <% if (user_info_about_anime.AnimeStatus === 'mset-dropped') { %>selected<% } %>>Dropped</option>
            <option value="mset-rereading" <% if (user_info_about_anime.AnimeStatus === 'mset-rereading') { %>selected<% } %>>Rereading</option>
        </select>
        
        </div>
        <label for="rate"><strong>Rate:</strong></label> <i class="fa fa-star"></i>
        <input type="number" value="<%= user_info_about_anime.RateGrade %>" min="1" max="5" name="rate" id="rateInput" class="form-control" placeholder="Enter a number from 1 to 5">

        <!-- Chapter Progress -->
        <label for="chapterProgress"><strong>Chapter Progress:</strong></label>
        <input class="form-control" value="<%= user_info_about_anime.ChaptersRead %>" type="number" id="chapterProgress" name="chapterProgress" placeholder="How far along are you out of <%= manga.Chapters %> chapters">

        <!-- Volumes Progress -->
        <label for="volumeProgress"><strong>Volume Progress:</strong></label>
        <input class="form-control" value="<%= user_info_about_anime.VolumeProgress %>" type="number" id="volumeProgress" name="volumeProgress" placeholder="How far along are you out of <%= manga.Volumes %> volumes">

        <!-- Start Date -->
        <label for="startDate"><strong>Start Date:</strong></label>
        <input class="form-control" value="<%= user_info_about_anime.StartDate %>" type="date" id="startDate" name="startDate">

        <!-- Finish Date -->
        <label for="finishDate"><strong>Finish Date:</strong></label>
        <input class="form-control" value="<%= user_info_about_anime.EndDate %>" type="date" id="finishDate" name="finishDate">

        <!-- Total Rereads -->
        <label for="totalRereads"><strong>Total Rereads:</strong></label>
        <input class="form-control" type="number" value="<%= user_info_about_anime.TotalRewatch %>" id="totalRereads" name="totalRereads">

        <!-- Notes -->
        <label for="notes"><strong>Notes:</strong></label>
        <textarea class="form-control" id="notes" name="notes" rows="4"><%= user_info_about_anime.Notes %></textarea>

        <!-- Save button -->
        <button class="like_btn" type="submit">Save</button>
      </form>
    <% } %>
    
    </div>
  </div>
  <% } %>
  <hr class="rounded">
</div>



<div id="rev" class="row" style="margin-left: 100px;">
  <% if (combinedUserInfo && combinedUserInfo.length > 0) { %>
    <% for (const review of combinedUserInfo) { %>
      <div class="col-md-2 mb-4">
        <a style="text-decoration: none; color: black" href="/review/<%= review.AnimeID %>/<%= review.ReviewID %>" id="review_one_card">
          <div class="card h-100" >
            <div class="review-image-container">
              <img src="<%= manga.BackgroundImageURL%>" alt="Review Image of Anime <%= manga.TitleEnglish%>" id="review-image" class="card-img-top">
            </div>
            <div class="card-body">
              <% if (review.UserName !== null) { %>
                <p id="review-summary" class="card-text">Review by <strong><%= review.UserName %></strong></p>
            <% } else { %>
              <p id="review-summary" class="card-text">Anonymous Review</p>
            <% } %>
            </div>
          </a>
        </div>
      </div>
    <% } %>
  <% } else { %>
    <div class="col-md-12 text-center">
      <p style="color:white;">No reviews yet</p>
    </div>
  <% } %>
</div>
  
<%- include('../partials/footer.ejs') %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  // Get the modal and button elements
  const modal = document.getElementById('addManuallyModal');
  const btn = document.getElementById('addManuallyBtn');
  const span = document.getElementsByClassName('close')[0];

  // When the user clicks the button, open the modal
  btn.onclick = function () {
    modal.style.display = 'block';
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = 'none';
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target === modal) {
      modal.style.display = 'none';
    }
  };

  // Add your additional logic here, e.g., handling form submission
  const form = document.getElementById('addManuallyForm');
  form.addEventListener('submit', function (event) {
    // Prevent the default form submission
    event.preventDefault();

    // Add your logic to handle the form data (e.g., AJAX request)

    // Close the modal after handling the form
    modal.style.display = 'none';
  });
});

</script>
</body>
</html>
