<%- include('../partials/header.ejs', { title: "TEST" }) %>

<link type="text/css" rel="stylesheet" href="/css/styleViewReview.css">

<style>
  .review-container {
    position: relative;
    height: 270px;
    background: url("<%= ReviewInfo[0].BackgroundImageURL%>");
    overflow: hidden;
  }

  .review-rate {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 150px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 35px;
  }

  /* Additional styles for dynamic background color */
  .red-bg {
    background-color: #FF5733; /* Red */
  }

  .orange-bg {
    background-color: #FFA500; /* Orange */
  }

  .green-bg {
    background-color: #4CAF50; /* Green */
  }

  .rate-btn {
    font-weight: 900;
    font-size: 30px;
  }
</style>

<div class="review-container">
  <div class="overlay"></div>
  <div class="content">
    <% if (ReviewInfo[0].TypeFormat === 'Anime') { %>
      <h2><a href="/anime/<%= ReviewInfo[0].AnimeID %>/<%= ReviewInfo[0].AnimeName %>"><%= ReviewInfo[0].AnimeName %></a></h2>
    <% } else if (ReviewInfo[0].TypeFormat === 'Manga') { %>
      <h2><a href="/manga/<%= ReviewInfo[0].AnimeID %>/<%= ReviewInfo[0].AnimeName %>"><%= ReviewInfo[0].AnimeName %></a></h2>
    <% } %>
    <% if (ReviewInfo[0].Username !== null) { %>
      <h4>A Review made by <%= ReviewInfo[0].Username%></h4>
  <% } else { %>
     <h4>An Anonymous Review made by Deleted Account</h4>
  <% } %>
  </div>
</div>

<div class="review-text">
  <p><%- ReviewInfo[0].ReviewText%></p>
</div>

<% if (ReviewInfo[0].ReviewGrade >= 0 && ReviewInfo[0].ReviewGrade <= 35) { %>
  <div class="review-rate" style="background-color: #FF5733;"> 
    <p class="rate-btn"><%= ReviewInfo[0].ReviewGrade%>/100</p>
  </div>
<% } %>

<% if (ReviewInfo[0].ReviewGrade >= 36 && ReviewInfo[0].ReviewGrade <= 70) { %>
  <div class="review-rate" style="background-color: #FFA500;"> 
    <p class="rate-btn"><%= ReviewInfo[0].ReviewGrade%>/100</p>
  </div>
<% } %>

<% if (ReviewInfo[0].ReviewGrade >= 71 && ReviewInfo[0].ReviewGrade <= 100) { %>
  <div class="review-rate" style="background-color: #4CAF50;"> 
    <p class="rate-btn"><%= ReviewInfo[0].ReviewGrade%>/100</p>
  </div>
<% } %>

</div>

<%- include('../partials/footer.ejs') %>
</body>
</html>
