<%
const title = anime ? `${anime.TitleEnglish} - YourAnimeHub` : 'YourAnimeHub';
%>

<%- include('../partials/header.ejs', { title: title }) %>

<link type="text/css" rel="stylesheet" href="/css/styleViewAnime.css">
<style>
  .hero:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: red;
    background: url("<%= anime.BackgroundImageURL %>");
    z-index: -1;
    transform: skewY(-2.2deg);
    transform-origin: 0 0;
  }
</style>


<div class="anime_card">
  
    
    <img src="<%= anime.CoverImageURL %>" alt="cover" class="cover" />
        
    <div class="hero">
      <div class="overlay"></div>
      <div class="details">
      
        <div class="title1"><%= anime.TitleEnglish %></div>
        
      </div> <!-- end details -->
    </div>
</div> <!-- end movie-card -->

<div class="add_like_description_container">
  <div class="add_like_container">
    <button id="add_btn" class="add_btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false";>
      Add to List
    </button>
    <ul class="dropdown-menu">
      <form action="/anime/<%= anime.AnimeID %>/set" method="post">
        <li>
           <button type="submit" name="action" value="aset-complete" class="dropdown-item" <% if (animeStatus === 'aset-complete') { %>disabled<% } %>>Set as Complete</button>
        </li>
        <li>
           <button type="submit" name="action" value="aset-watching" class="dropdown-item" <% if (animeStatus === 'aset-watching') { %>disabled<% } %>>Set as Watching</button>
        </li>
        <li>
           <button type="submit" name="action" value="aset-planning" class="dropdown-item" <% if (animeStatus === 'aset-planning') { %>disabled<% } %>>Set as Planning</button>
        </li>

     </form>
   </ul>
   
    
   <form action="/anime/<%= anime.AnimeID %>/like" method="post">
    <button type="submit" class="like_btn">
        <i class="fa fa-thumbs-up"></i>
        <%= anime.Likes %>
    </button>
    </form>
  </div>
  <div class="description">
    <p style="color:white;"><%= anime.Synopsis %></p>
  </div>
  
</div>



<!-- Menus text above the hr -->
<div class="menus">
  <% if (is_anime_favourited == false) { %>
    <form action="/user/favourites/anime/add/<%= anime.AnimeID%>" method="post">
      <button type="submit" class="edit_btn">
        <i class="fa fa-heart-o"></i>
      </button>
    </form>
  <% } %>
  <% if (is_anime_favourited == true) { %>
    <form action="/user/favourites/anime/remove/<%= anime.AnimeID%>" method="post">
      <button type="submit" class="edit_btn">
        <i class="fa fa-heart"></i>
      </button>
    </form>
  <% } %>
  <a href="/anime/<%= anime.AnimeID%>/<%= anime.TitleEnglish%>"><p>Overall</p></a>
  <a href="/anime/<%= anime.AnimeID%>/<%= anime.TitleEnglish%>/characters#char"><p>Characters</p></a>
  <a href="/anime/<%= anime.AnimeID%>/<%= anime.TitleEnglish%>/reviews#rev"><p>Reviews</p></a>
  <% if ((user && (user.UserRole === 'User' || user.UserRole === 'Admin')) && (user_info_about_anime !== null && user_info_about_anime && user_info_about_anime.AnimeStatus !== null)) { %>
    <a href="/anime/<%= anime.AnimeID%>/<%= anime.TitleEnglish%>/user-info#info"><p>Your Info</p></a>
  <% } %>

  <% if ((user && user.UserRole === 'User'||user && user.UserRole === 'Admin')) { %>
  <button id="addManuallyBtn" class="edit_btn">
      <i class="fa fa-pencil"></i>
  </button>

  <!-- Modal -->
  <div id="addManuallyModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <img src="<%= anime.BackgroundImageURL %>" alt="background" class="modal-background">
      <div class="modal-overlay"></div>
      <h2 class="modal-title"><%= anime.TitleEnglish %></h2>
      
      <!-- Form -->

      <% if (user_info_about_anime === null) { %>
        <form action="/anime/<%= anime.AnimeID %>/edit" method="post">
          <div class="form-group">
            <label><strong>Status</strong></label>
            <select class="form-select" name="status">
              <option value="aset-complete">Completed</option>
              <option value="aset-watching">Watching</option>
              <option value="aset-planning">Planning to Watch</option>
              <option value="aset-paused">Paused</option>
              <option value="aset-dropped">Dropped</option>
              <option value="aset-rewatching">Rewatching</option>
          </select>
          
          </div>
          <label for="rate"><strong>Rate:</strong></label> <i class="fa fa-star"></i>
          <input type="number" min="1" max="5" name="rate" id="rateInput" class="form-control" placeholder="Enter a number from 1 to 5">
  
          <% if (anime.TypeFormat === 'TV') { %>
            <!-- Episode Progress -->
          <label for="episodeProgress"><strong>Episode Progress:</strong></label>
          <input class="form-control" type="number" id="episodeProgress" name="episodeProgress" placeholder="How far along are you out of <%= anime.EpisodeCount %> episodes">
          <% } %>
          <!-- Start Date -->
          <label for="startDate"><strong>Start Date:</strong></label>
          <input class="form-control" type="date" id="startDate" name="startDate">
  
          <!-- Finish Date -->
          <label for="finishDate"><strong>Finish Date:</strong></label>
          <input class="form-control" type="date" id="finishDate" name="finishDate">
  
          <!-- Total Rewatches -->
          <label for="totalRewatches"><strong>Total Rewatches:</strong></label>
          <input class="form-control" type="number" id="totalRewatches" name="totalRewatches">
  
          <!-- Notes -->
          <label for="notes"><strong>Notes:</strong></label>
          <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
  
          <!-- Save button -->
          <button class="like_btn" type="submit">Save</button>
        </form>
    <% } else { %>
      <form action="/anime/<%= anime.AnimeID %>/edit" method="post">
        <div class="form-group">
          <label><strong>Status</strong></label>
          <select class="form-select" name="status">
            <option value="aset-complete" <% if (user_info_about_anime.AnimeStatus === 'aset-complete') { %>selected<% } %>>Completed</option>
            <option value="aset-watching" <% if (user_info_about_anime.AnimeStatus === 'aset-watching') { %>selected<% } %>>Watching</option>
            <option value="aset-planning" <% if (user_info_about_anime.AnimeStatus === 'aset-planning') { %>selected<% } %>>Planning to Watch</option>
            <option value="aset-paused" <% if (user_info_about_anime.AnimeStatus === 'aset-paused') { %>selected<% } %>>Paused</option>
            <option value="aset-dropped" <% if (user_info_about_anime.AnimeStatus === 'aset-dropped') { %>selected<% } %>>Dropped</option>
            <option value="aset-rewatching" <% if (user_info_about_anime.AnimeStatus === 'aset-rewatching') { %>selected<% } %>>Rewatching</option>
        </select>
        
        </div>
        <label for="rate"><strong>Rate:</strong></label> <i class="fa fa-star"></i>
        <input type="number" value="<%= user_info_about_anime.RateGrade %>" min="1" max="5" name="rate" id="rateInput" class="form-control" placeholder="Enter a number from 1 to 5">

        <% if (anime.TypeFormat === 'TV') { %>
        <!-- Episode Progress -->
        <label for="episodeProgress"><strong>Episode Progress:</strong></label>
        <input class="form-control" value="<%= user_info_about_anime.EpisodeProgress %>" type="number" id="episodeProgress" name="episodeProgress" placeholder="How far along are you out of <%= anime.EpisodeCount %> episodes">
        <% } %>
        <!-- Start Date -->
        <label for="startDate"><strong>Start Date:</strong></label>
        <input class="form-control" value="<%= user_info_about_anime.StartDate %>" type="date" id="startDate" name="startDate">

        <!-- Finish Date -->
        <label for="finishDate"><strong>Finish Date:</strong></label>
        <input class="form-control" value="<%= user_info_about_anime.EndDate %>" type="date" id="finishDate" name="finishDate">

        <!-- Total Rewatches -->
        <label for="totalRewatches"><strong>Total Rewatches:</strong></label>
        <input class="form-control" type="number" value="<%= user_info_about_anime.TotalRewatch %>" id="totalRewatches" name="totalRewatches">

        <!-- Notes -->
        <label for="notes"><strong>Notes:</strong></label>
        <textarea class="form-control" id="notes" name="notes" rows="4"><%= user_info_about_anime.Notes %></textarea>

        <!-- Save button -->
        <button class="like_btn" type="submit">Save</button>
      </form>
    <% } %>
    
    </div>
  </div>
  <% } %>
  <hr class="rounded">
</div>

<div class="anime_page_container">
  
  <div class="left_column">
    <!-- Information about the anime -->
    <div class="anime_info">
      <% if (user_info_about_anime && user_info_about_anime && user_info_about_anime.ReviewID != null) { %>
        <button class="write_review_button " onclick="window.location.href='/review/editor/anime/<%= anime.AnimeID %>/edit';">Edit Your Review</button>
        <button class="propose_edit_button">Propose Edit Request</button>
      <% } %>
      <% if ((user && user.UserRole === 'User'||user && user.UserRole === 'Admin') && (user_info_about_anime === null || user_info_about_anime.ReviewID === null)) { %>
        <button class="write_review_button" onclick="window.location.href='/review/editor/anime/<%= anime.AnimeID %>';">Write Review</button>
        <button class="propose_edit_button">Propose Edit Request</button>
       <% } %>

      <div>
        <p class="title_of_menu"><strong>Format:</strong> </p>
        <p class="answer_of_menu"><%= anime.TypeFormat %></p>
      </div>
      <div>
        <p class="title_of_menu"><strong>Status:</strong> </p>
        <p class="answer_of_menu"><%= anime.AnimeStatus %></p>
      </div>
      <% if (anime.TypeFormat === 'TV') { %>
        <div>
          <p class="title_of_menu"><strong>Number of Episodes:</strong> </p>
          <p class="answer_of_menu"><%= anime.EpisodeCount %></p>
        </div>
      <% } %>
      <% if (anime.TypeFormat === 'Movie') { %>
        <div>
          <p class="title_of_menu"><strong>Movie Duration:</strong> </p>
          <p class="answer_of_menu"><%= anime.EpisodeDuration %></p>
        </div>
      <% } %>
      <% if (anime.TypeFormat === 'TV') { %>
        <div>
          <p class="title_of_menu"><strong>Episode Duration:</strong> </p>
          <p class="answer_of_menu"><%= anime.EpisodeDuration %></p>
        </div>
      <% } %>
      <div>
        <p class="title_of_menu"><strong>Favourited:</strong> </p>
        <p class="answer_of_menu"><%=  StatsCount.Favourited %></p>
      </div>
      <div>
        <p class="title_of_menu"><strong>Start Date:</strong> </p>
        <p class="answer_of_menu"><%= anime.ReleaseDate %></p>
      </div>
      <div>
        <p class="title_of_menu"><strong>End Date:</strong> </p>
        <p class="answer_of_menu"><%= anime.EndDate %></p>
      </div>
      <div>
        <p class="title_of_menu"><strong>Genres:</strong> </p>
        <% const genres = anime.Genre.split(','); %>
                    <% genres.forEach(genre => { %>
                      <p class='genres'><%= genre.trim() %></p>
                    <% }); %>
        </div>
      <div>
        <p class="title_of_menu"><strong>English:</strong> </p>
        <p class="answer_of_menu"><%= anime.TitleEnglish %></p>
      </div>
      <div>
        <p class="title_of_menu"><strong>Romaji:</strong> </p>
        <p class="answer_of_menu"><%= anime.TitleRomaji %></p>
      </div>
      <div>
        <p class="title_of_menu"><strong>Native:</strong> </p>
        <p class="answer_of_menu"><%= anime.TitleNative %></p>
      </div>

      <div>
        <p class="title_of_menu"><strong>Streaming Platform:</strong> </p>
        <div class="platform_info">
          <p class="answer_of_menu"> <a style="text-decoration:none; color: #d7d7d7;" href="<%= anime.StreamingPlatformURL %>"> HERE </p></a>

        </div>
      </div>

    </div>

    
  </div>

  <div class="right_column">
   
  
    <div style="color:white;" class="status_distribution" id="info">
        <div>
            <p class="title_of_menu"><strong>Anime Status:</strong> </p>
            <% if (user_info_about_anime.AnimeStatus==='set-complete') { %>
                <p class="answer_of_menu">Completed</p>
            <% } %>
            <% if (user_info_about_anime.AnimeStatus==='set-planning') { %>
                <p class="answer_of_menu">Planning to watch</p>
            <% } %>
            <% if (user_info_about_anime.AnimeStatus==='set-watching') { %>
                <p class="answer_of_menu">Currently Watching</p>
            <% } %>
            <% if (user_info_about_anime.AnimeStatus==='set-dropped') { %>
                <p class="answer_of_menu">Dropped</p>
            <% } %>
            <% if (user_info_about_anime.AnimeStatus==='set-paused') { %>
                <p class="answer_of_menu">Paused</p>
            <% } %>
            <% if (user_info_about_anime.AnimeStatus==='set-rewatching') { %>
              <p class="answer_of_menu">Rewatching</p>
          <% } %>
        </div>
        <div>
            <p class="title_of_menu"><strong>Rate:</strong> </p>
            <p class="answer_of_menu"><%= user_info_about_anime.RateGrade %>/5</p>
          </div>
          <% if (anime.TypeFormat === 'TV') { %>
            <div>
              <p class="title_of_menu"><strong>Episode Progress:</strong> </p>
              <p class="answer_of_menu"><%= user_info_about_anime.EpisodeProgress %></p>
            </div>
          <% } %>
          <div>
            <p class="title_of_menu"><strong>Total Rewatch:</strong> </p>
            <p class="answer_of_menu"><%= user_info_about_anime.TotalRewatch %></p>
          </div>
          <div>
            <p class="title_of_menu"><strong>Start Date:</strong> </p>
            <p class="answer_of_menu"><%= user_info_about_anime.StartDate %></p>
          </div>
          <div>
            <p class="title_of_menu"><strong>End Date:</strong> </p>
            <p class="answer_of_menu"><%= user_info_about_anime.EndDate %></p>
          </div>
          <div>
            <p class="title_of_menu"><strong>Notes:</strong> </p>
            <p class="answer_of_menu"><%= user_info_about_anime.Notes %></p>
          </div>
    </div>
</div>
    
  </div>
</div>



<%- include('../partials/footer.ejs') %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  // Get the modal and button elements
  const modal = document.getElementById('addManuallyModal');
  const btn = document.getElementById('addManuallyBtn');
  const span = document.getElementsByClassName('close')[0];

  // When the user clicks the button, open the modal
  btn.onclick = function () {
    modal.style.display = 'block';
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = 'none';
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target === modal) {
      modal.style.display = 'none';
    }
  };

  // Add your additional logic here, e.g., handling form submission
  const form = document.getElementById('addManuallyForm');
  form.addEventListener('submit', function (event) {
    // Prevent the default form submission
    event.preventDefault();

    // Add your logic to handle the form data (e.g., AJAX request)

    // Close the modal after handling the form
    modal.style.display = 'none';
  });
});

</script>
</body>
</html>
