<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/styleAllPage.css">
  </head>
  <body>

    <header>
        <div class="logo_container">
            <a href="/">
                <img class="website_logo" src="/img/website_logo.png" alt="Logo image">
            </a>
        </div>
        <nav class="navbar">
            <!--If the activePage is the correct one, the class becomes "active"-->
            <a class="<%= activePage === 'home' ? 'active' : '' %>" href="/">Home</a>
            <li class="nav-item dropdown">
                <a style="margin-bottom:34px; color:white;" class="nav-link dropdown-toggle <%= activePage === 'browse' ? 'active' : '' %>" data-bs-toggle="dropdown" href="/browse/anime">Browse</a>
                <ul style=" padding: 0;" class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-dark" href="/browse/anime">Animes</a></li>
                  <li><a class="dropdown-item text-dark" href="/browse/manga">Mangas</a></li>
                  <li><a class="dropdown-item text-dark" href="/browse/characters">Characters</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-dark" href="/browse/quotes">Quotes</a></li>
                  <li><a class="dropdown-item text-dark" href="/browse/reviews">Reviews</a></li>
                </ul>
              </li>
                
            <% if (user && user.UserRole === 'Admin') { %>
                <a class="<%= activePage === 'profile' ? 'active' : '' %>" href="/user">Profile</a>
                <a class="<%= activePage === 'your_list' ? 'active' : '' %>" href="/user/watchlist">Your Lists</a>
                <a class="<%= activePage === 'admin' ? 'active' : '' %>" href="/admin">Admin</a>
            
        </nav>
        <div class="icons">
            <span class="icon"><i class="fa fa-bars" id="menu-bars"></i></span>
            <span class="icon"><i class="fa fa-search" id="search-icon"></i></span>
        </div>
        <div class="login_signup_container">

            <div class="profile-dropdown">
                <div class="triangle-clip-path">
                    <img class="profile-picture" src="<%= user.ProfilePictureURL %>" alt="Profile Picture">
                </div>
                <div class="dropdown-content">
                    <a href="/user">Profile</a>
                    <a href="/user/settings">Settings</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
            <% } else if (user && user.UserRole === 'User') { %>
                <a class="<%= activePage === 'profile' ? 'active' : '' %>" href="/user">Profile</a>
                <a class="<%= activePage === 'your_list' ? 'active' : '' %>" href="/user/watchlist">Your Lists</a>
            </nav>
                <div class="icons">
                    <span class="icon"><i class="fa fa-bars" id="menu-bars"></i></span>
                    <span class="icon"><i class="fa fa-search" id="search-icon"></i></span>
                </div>
                <div class="login_signup_container">

                    <div class="profile-dropdown">
                        <div class="triangle-clip-path">
                            <img class="profile-picture" src="<%= user.ProfilePictureURL %>" alt="Profile Picture">
                        </div>
                        <div class="dropdown-content">
                            <a href="/user">Profile</a>
                            <a href="/user/settings">Settings</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
        </nav>
            <% } else { %>
                <a style="background: rgb(72,144,222, 0.2); margin-right: 10px;" href="/login">Log In</a>
                <a style="background: rgb(72,144,222, 0.2);" href="/signup">Sign Up</a>
        </nav>
        <div class="icons">
            <span class="icon"><i class="fa fa-bars" id="menu-bars"></i></span>
            <span class="icon"><i class="fa fa-search" id="search-icon"></i></span>
        </div>
            <% } %>

    </header>

<form action="" id="search-form">
    <input type="search" placeholder="Search here..." name="" id="search-box">
    <label for=search-box" class="fa fa-search"></label>
    <i class="fa fa-times" id="close"></i>
</form>
    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
            let menu = document.getElementById('menu-bars');
            let navbar = document.querySelector('.navbar');
    
            menu.addEventListener('click', function () {
                menu.classList.toggle('fa-times');
                navbar.classList.toggle('active');
            });

            menu.addEventListener('scroll', function () {
                menu.classList.remove('fa-times');
                navbar.classList.remove('active');
            });

            document.querySelector('#search-icon').onclick =() =>{
                document.querySelector('#search-form').classList.toggle('active');
            }
            document.querySelector('#close').onclick =() =>{
                document.querySelector('#search-form').classList.toggle('active');
            }
            
            
        });
    </script>
    
    