<div class="big_top_three">
    <div class="top_header">
        <h3 class="my_h3" style="margin-left:20px; text-decoration: underline;text-underline-position: under;">Currently Watching</h3>
        <div class="anime_container">
            <% if (animeList && Array.isArray(animeList) && animeList.length > 0) { %>
            <% const recentAnimeList = animeList.slice(-3).reverse(); %>
            <div class="anime_boxes">
                <% recentAnimeList.forEach(anime => { %>
                <div class="anime_box">
                    <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                        <div class="box-img">
                            <img src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                        </div>
                        <div class="animeName">
                            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <% } else { %>
            <p>You are currently watching nothing.</p>
            <% } %>
        </div>
    </div>
    <div class="top_header"> 
        <h3 class="my_h3" style="margin-left:20px; text-decoration: underline;text-underline-position: under;">Your Top 3 Anime</h3>
        <div class="anime_container">
            <% if (animeList && Array.isArray(animeList) && animeList.length > 0) { %>
            <% const recentAnimeList = animeList.slice(-3).reverse(); %>
            <div class="anime_boxes">
                <% recentAnimeList.forEach(anime => { %>
                <div class="anime_box">
                    <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                        <div class="box-img">
                            <img src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                        </div>
                        <div class="animeName">
                            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <% } else { %>
            <p>You have no anime in your top 3.</p>
            <% } %>
        </div>
    </div>
    <div class="top_header"> 
        <h3 class="my_h3" style="margin-left:20px; text-decoration: underline;text-underline-position: under;">Your Top 3 Manga</h3>
        <div class="anime_container">
            <% if (animeList && Array.isArray(animeList) && animeList.length > 0) { %>
            <% const recentAnimeList = animeList.slice(-3).reverse(); %>
            <div class="anime_boxes">
                <% recentAnimeList.forEach(anime => { %>
                <div class="anime_box">
                    <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                        <div class="box-img">
                            <img src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                        </div>
                        <div class="animeName">
                            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <% } else { %>
            <p>You have no manga in your top 3.</p>
            <% } %>
        </div>
    </div>
</div>
<div class="quote_of_day_bg">
    <h1 class="quote_of_day_header">Quote of The Day</h1>
    <div>
        <dl id="quote">
            <dt>
                <a href="/quote/<%= quote_of_the_day.AnimeID %>">
                    <%= quote_of_the_day && quote_of_the_day.QuoteText
                        ? quote_of_the_day.QuoteText
                        : 'No quote of the day yet' %>
                </a>
            </dt>
            <dd>
                <a href="/character/<%= quote_of_the_day.CharacterID %>"">
                    <%= quote_of_the_day && quote_of_the_day.CharacterName
                        ? '-- ' + quote_of_the_day.CharacterName
                        : 'No author available' %>
                </a>
            </dd>
            <dd>
                <a class="quote_day_anime_box" href="/anime/<%= quote_of_the_day.AnimeID %>">
                    <%= quote_of_the_day && quote_of_the_day.AnimeName
                        ? '[' + quote_of_the_day.AnimeName+']'
                        : 'No Anime available' %>
                </a>
            </dd>
        </dl>
    </div>
</div>

