<div class="big_top_three">
    <div class="top_header">
        <h3 class="my_h3" style="margin-left:20px; text-decoration: underline;text-underline-position: under;">Currently Watching</h3>
        <div class="anime_container">
            <% if (animeList && Array.isArray(animeList) && animeList.length > 0) { %>
            <% const recentAnimeList = animeList.slice(-3).reverse(); %>
            <div class="anime_boxes">
                <% recentAnimeList.forEach(anime => { %>
                <div class="anime_box">
                    <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                        <div class="box-img">
                            <img src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                        </div>
                        <div class="animeName">
                            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <% } else { %>
            <p>You are currently watching nothing.</p>
            <% } %>
        </div>
    </div>
    <div class="top_header"> 
        <h3 class="my_h3" style="margin-left:20px; text-decoration: underline;text-underline-position: under;">Your Top 3 Anime</h3>
        <div class="anime_container">
            <% if (animeList && Array.isArray(animeList) && animeList.length > 0) { %>
            <% const recentAnimeList = animeList.slice(-3).reverse(); %>
            <div class="anime_boxes">
                <% recentAnimeList.forEach(anime => { %>
                <div class="anime_box">
                    <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                        <div class="box-img">
                            <img src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                        </div>
                        <div class="animeName">
                            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <% } else { %>
            <p>You have no anime in your top 3.</p>
            <% } %>
        </div>
    </div>
    <div class="top_header"> 
        <h3 class="my_h3" style="margin-left:20px; text-decoration: underline;text-underline-position: under;">Your Top 3 Manga</h3>
        <div class="anime_container">
            <% if (animeList && Array.isArray(animeList) && animeList.length > 0) { %>
            <% const recentAnimeList = animeList.slice(-3).reverse(); %>
            <div class="anime_boxes">
                <% recentAnimeList.forEach(anime => { %>
                <div class="anime_box">
                    <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                        <div class="box-img">
                            <img src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                        </div>
                        <div class="animeName">
                            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <% } else { %>
            <p>You have no manga in your top 3.</p>
            <% } %>
        </div>
    </div>
</div>