<%
const title = 'Browse Reviews - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleBrowse.css">

<section id="packages" class="pt-2 ms-5">
  <div style="margin: auto;">
    <h1 class="my_h1 text-light" style="margin-left: 20px !important;">REVIEWS</h1>
  </div>
  <div class="row">
    <% if (ReviewList && ReviewList.length > 0) { %>
      <% ReviewList.forEach((review) => { %>
        <div class="col-md-3 mb-4">
          <a style="text-decoration: none; color:black;" href="/review/<%= review.AnimeID%>/<%= review.ReviewID%>" id="review_one_card">
            <div class="card h-500" style="width: 90%;">
              <div class="review-image-container">
                <img src="<%= review.BackgroundImageURL%>" id="review-image" class="card-img-top">
                <div id="review-overlay">
                  <p class="text-light m-0">Read Full Review</p>
                </div>
              </div>
              <div class="card-body">
                <% if (review.Username !== null) { %>
                  <p id="review-title" class="card-title">Review of <%= review.AnimeName %> by <%= review.Username %></p>
              <% } else { %>
                  <p id="review-title" class="card-title">Anonymous Review of <%= review.AnimeName %></p>
              <% } %>
              
              
                <p id="review-summary" class="card-text"><%= review.ReviewSummary%></p>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    <% } else { %>
      <div class="col-12 text-center mt-5">
        <p class="text-light">No reviews available.</p>
      </div>
    <% } %>
  </div>
</section>
<% if (ReviewList && ReviewList.length > 0) { %>
<div class="load-more-container">
  <button id="load-more-button" class="load-more-button">Load More</button>
</div>
<% } %>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let displayedReviewCount = 8;

    const reviewCards = document.querySelectorAll(".row .col-md-3 mb-4");

    // Initially hide cards greater than 8
    reviewCards.forEach((card, index) => {
      if (index >= displayedReviewCount) {
        card.style.display = "none";
      }
    });

    document.getElementById("load-more-button").addEventListener("click", function () {
      for (let i = displayedReviewCount; i < displayedReviewCount + 8; i++) {
        if (i < reviewCards.length) {
          reviewCards[i].style.display = "block";  // Assuming these are display: block elements
        }
      }

      displayedReviewCount += 8;

      // Hide load more button if all reviews are displayed
      if (displayedReviewCount >= reviewCards.length) {
        document.getElementById("load-more-button").style.display = "none";
      }
    });
  });
</script>


<%- include('../partials/footer.ejs') %>
</body>
</html>
