<%
const title = 'Browse Manga - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title}) %>
<link type="text/css" rel="stylesheet" href="/css/styleHome.css">
<link type="text/css" rel="stylesheet" href="/css/styleBrowse.css">


<div class="colored_background"></div>

<div style="height:80px !important;" class="colored_background_accent"></div>


<section class="filter_section d-flex justify-content-evenly mb-3">
  <div class="row">
    <div class="d-flex justify-content-center h-100">
      <div class="search">
          <input type="text" class="search-input" placeholder="Search.." name="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sec-center"> 	
      <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
      <label class="for-dropdown" for="dropdown">Genres<i class="fa fa-arrow-down"></i></label>
      <div class="section-dropdown"> 
          <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
          <a href="#">Action<i class="fa fa-arrow-right"></i></a>
          <a href="#">Adventure <i class="fa fa-arrow-right"></i></a>
          <a href="#">Superpower <i class="fa fa-arrow-right"></i></a>
          <a href="#">Comedy<i class="fa fa-arrow-right"></i></a>
          <a href="#">Fantasy <i class="fa fa-arrow-right"></i></a>
          <a href="#">Historical <i class="fa fa-arrow-right"></i></a>
          <a href="#">Drama<i class="fa fa-arrow-right"></i></a>
          <a href="#">Supernatural <i class="fa fa-arrow-right"></i></a>
          <a href="#">Martial Arts <i class="fa fa-arrow-right"></i></a>
          <a href="#">Dark Fantasy<i class="fa fa-arrow-right"></i></a>
          <a href="#">Shounen <i class="fa fa-arrow-right"></i></a>
          <a href="#">Superpower <i class="fa fa-arrow-right"></i></a>
          <a href="#">Shojo<i class="fa fa-arrow-right"></i></a>
          <a href="#">Romance <i class="fa fa-arrow-right"></i></a>
          <a href="#">Horror <i class="fa fa-arrow-right"></i></a>
          <a href="#">Psychological <i class="fa fa-arrow-right"></i></a>
          <a href="#">Thriller <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sec-center"> 	
        <input class="dropdown" type="checkbox" id="dropdown_2" name="dropdown"/>
        <label class="for-dropdown" for="dropdown_2">Year<i class="fa fa-arrow-down"></i></label>
        <div class="section-dropdown"> 
            <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
            <a href="#">2020<i class="fa fa-arrow-right"></i></a>
            <a href="#">2021 <i class="fa fa-arrow-right"></i></a>
            <a href="#">2022 <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>
  <div class="row">
    <div class="sec-center"> 	
        <input class="dropdown" type="checkbox" id="dropdown_3" name="dropdown"/>
        <label class="for-dropdown" for="dropdown_3">Status<i class="fa fa-arrow-down"></i></label>
        <div class="section-dropdown"> 
            <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
            <a href="#">Ongoing<i class="fa fa-arrow-right"></i></a>
            <a href="#">Finished <i class="fa fa-arrow-right"></i></a>
            <a href="#">Hiatus <i class="fa fa-arrow-right"></i></a>
            <a href="#">Planned <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="sec-center"> 	
        <input class="dropdown" type="checkbox" id="dropdown_4" name="dropdown"/>
        <label class="for-dropdown" for="dropdown_4">Format<i class="fa fa-arrow-down"></i></label>
        <div class="section-dropdown"> 
            <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
            <a href="#">TV<i class="fa fa-arrow-right"></i></a>
            <a href="#">Movie <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
  </div>
</section>

  <div class="recently_added_block">
    <a class="cardHeader_a" href="/browse/manga/recently_added">
      <div class="header_title_anime one">
        <h2 class="my_h2 text-light" style="margin-left: 20px !important;">RECENTLY ADDED</h2>
      </div>
    </a>
    <div class="recentAnime">
      <div class="animeCard">
        <% if (mangaList && Array.isArray(mangaList) && mangaList.length > 0) { %>
          <% const recentMangaList = mangaList.slice(-8).reverse(); %> 
          <% recentMangaList.forEach(manga => { %>
            <div class="card" style="margin-bottom: 20px;" title="<strong><%= manga.TitleEnglish %></strong>" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" 
              data-bs-content="
                      <% const score = 40; %>
                      <span class='badge <%= score >= 50 ? 'bg-success' : 'bg-danger' %>'>
                          <%= score %>% <%= score >= 50 ? '😊' : '😞' %>
                      </span>
    
                  <p><strong>Number of Chapters:</strong> <%= manga.Chapters %></p>
                  <p><strong>Status:</strong> <%= manga.AnimeStatus %></p>
                  <p><strong>Genres:</strong><br>
                      <% const genres = manga.Genre.split(','); %>
                      <% genres.forEach(genre => { %>
                        <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                      <% }); %>
                  </p>">
              <a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>">
                <img class="cover_image" src="<%= manga.CoverImageURL %>" alt="<%= manga.TitleEnglish %>">
              </a>
              <div class="animeName">
                <a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>"><%= manga.TitleEnglish %></a>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <p>No manga available in the database.</p>
        <% } %>
      </div>
    </div>
</div>
<button  id="load-more-button" class="load-more-button" onclick="window.location.href='/browse/manga/recently_added';">
  View All
</button>

<div class="recently_added_block">
  <a class="cardHeader_a" href="/browse/manga/popular">
    <div class="header_title_anime one">
      <h2 class="my_h2 text-light" style="margin-left: 20px !important;">POPULAR NOW</h2>
    </div>
  </a>
<div class="recentAnime">
  <div class="animeCard">
    <% if (mangaList && Array.isArray(mangaList) && mangaList.length > 0) { %>
      <% const recentMangaList = mangaList.slice(-8).reverse(); %> 
      <% recentMangaList.forEach(manga => { %>
        <div class="card" style="margin-bottom: 20px;" title="<strong><%= manga.TitleEnglish %></strong>" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" 
          data-bs-content="
                  <% const score = 40; %>
                  <span class='badge <%= score >= 50 ? 'bg-success' : 'bg-danger' %>'>
                      <%= score %>% <%= score >= 50 ? '😊' : '😞' %>
                  </span>

              <p><strong>Number of Chapters:</strong> <%= manga.Chapters %></p>
              <p><strong>Status:</strong> <%= manga.AnimeStatus %></p>
              <p><strong>Genres:</strong><br>
                  <% const genres = manga.Genre.split(','); %>
                  <% genres.forEach(genre => { %>
                    <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                  <% }); %>
              </p>">
          <a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>">
            <img class="cover_image" src="<%= manga.CoverImageURL %>" alt="<%= manga.TitleEnglish %>">
          </a>
          <div class="animeName">
            <a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>"><%= manga.TitleEnglish %></a>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <p>No manga available in the database.</p>
    <% } %>
  </div>
</div>
</div>
<button  id="load-more-button" class="load-more-button" onclick="window.location.href='/browse/manga/popular';">
  View All
</button>

<div class="container mb-5">
  <a class="cardHeader_a" href="/browse/manga/top-100">
    <div class="header_title_anime one">
      <h2 class="my_h2 text-light" style="margin-left: 20px !important;">TOP 100 MANGA</h2>
    </div>
  </a>
  <div class='top_100'>
      <% if (mangaList && Array.isArray(mangaList) && mangaList.length > 0) { %>
          <% const recentMangaList = mangaList.slice(-10).reverse(); %> 
          <% recentMangaList.forEach((manga, index) => { %>
              <div class="individual_card">
                  <div class="number text-light"><strong>#<%= index + 1 %></strong></div>
                  <div class="the_three">
                      <div class="name_box">
                          <img src="<%= manga.CoverImageURL %>" alt="Manga Image">
                          <div>
                              <p><a href="/manga/<%= manga.AnimeID %>/<%= manga.TitleEnglish %>"><strong><%= manga.TitleEnglish %></strong></a></p>
                              <% const genres = manga.Genre.split(','); %>
                              <div>
                                  <% genres.forEach(genre => { %>
                                      <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                                  <% }); %>
                              </div>
                          </div>
                      </div>
                      <div class="details">

                          <p class="status"><strong>TV Show</strong></p>
                          <p class="tv-details"><%= manga.Chapters %> Chapters</p>
                          <p class="rating">30 <%= 30 >= 50 ? '😊' : '😞' %></p>
                          <p class="likes"><i class="fa fa-thumbs-up"></i> 40</p>
                      </div>
                  </div>
              </div>
          <% }); %>
      <% } else { %>
          <p>No manga available in the database.</p>
      <% } %>
  </div>
  
</div>





<%- include('../partials/footer.ejs') %>
<script>
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
  </script>

</body>
</html>