<%
const title = 'Browse Anime - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title}) %>
<link type="text/css" rel="stylesheet" href="/css/styleBrowseA.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="background"></div>

<div class="background_accent"></div>

<section class="anime_list">
  <a href="/browse/anime/recently_added">
    <div>
      <h2 class="heading">Recently Added</h2>
    </div>
  </a>

  <div class="anime_container">
      <% if (animeList && Array.isArray(animeList) && animeList.length > 0) { %>
        <% const recentAnimeList = animeList.slice(-4).reverse(); %> 
        <% recentAnimeList.forEach(anime => { %>
          <div class="anime_box">
            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
              <div class="box-img">
                <img src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
              </div>
              <h3 data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<%= anime.Description %>"><%= anime.TitleEnglish %></h3>
              <span><%= anime.EpisodeDuration %> min | <%= anime.EpisodeCount %></span>
            </a>
          </div>
        <% }); %>
      <% } else { %>
        <p>No anime available in the database.</p>
      <% } %>
  </div>

</section>

<script>
  // Enable Bootstrap Popover on hover
  $(function () {
    $('[data-toggle="popover"]').popover();
  });
</script>

</body>
</html>
