<%
const title = 'Browse Quotes - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleBrowse.css">


<section id="packages" class="pt-2 ms-5">
  <div style="margin: auto;" >
    <h1 class="my_h1 text-light" style="margin-left: 20px !important;">QUOTES</h1>
  </div>
  <div class="row" >
    <% if (quoteList && Array.isArray(quoteList) && quoteList.length > 0) { %>
      <% quoteList.forEach(quote => { %>
    <div class="col-md-6 mb-4">
      <a style="text-decoration: none; color:black" href="/quote/<%= quote.QuoteID %>" id="review_one_card">
        <div class="card h-100" style="width: 90%;">
          <div class="review-image-container">
            <img src="<%= quote.BackgroundImageURL %>"" alt="Review Image" id="review-image"  class="card-img-top">
            <div id="quote-overlay">
              <p class="text-light m-0">View Full Quote</p>
            </div>
          </div>
          <div class="card-body">
            <p id="review-title" class="card-title"><%= quote.QuoteText %></p>
            <p id="quote_author" class="card-text">-- By <%= quote.CharacterName %></p>
            <p id="quote_anime" class="card-text">From: <%= quote.AnimeName %></p>
          </div>
      </a>
          <div class="card-footer">
            <button id="like-button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="15 out of 19 liked this review">
              👍 <span id="like-count">0</span>
            </button>
          </div>
        </div>
    </div>
    <% }); %>
    <% } else { %>
      <p class="nothing_here">No quotes available in the database.</p>
    <% } %>

  </div>
</section>
<div class="load-more-container">
  <button id="load-more-button" class="load-more-button">Load More</button>
</div>




<script>
  document.addEventListener("DOMContentLoaded", function () {
      let displayedCharCount = 10;

      const charCards = document.querySelectorAll(".CharCard .card");

      // Initially hide cards greater than 10
      charCards.forEach((card, index) => {
          if (index >= displayedCharCount) {
              card.style.display = "none";
          }
      });

      document.getElementById("load-more-button").addEventListener("click", function () {
          for (let i = displayedCharCount; i < displayedCharCount + 10; i++) {
              if (i < charCards.length) {
                  charCards[i].style.display = "block";
              }
          }

          displayedCharCount += 10;

          // Hide load more button if all anime are displayed
          if (displayedCharCount >= charCards.length) {
              document.getElementById("load-more-button").style.display = "none";
          }
      });
  });
</script>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>

<%- include('../partials/footer.ejs') %>

</body>
</html>