
<%- include('partials/header.ejs', { title: title}) %>

<link type="text/css" rel="stylesheet" href="/css/styleHome.css">

<div class="typewriter">
    <h1>It's YourAnimeHub</h1>
  </div>


<div class="container">
    <% if (user && user.UserRole === 'Admin') { %>

        <div class="access_container">
            <a  href="/admin" class="acces_btn">Access Admin Dashboard</a>
        </div>

    <%- include('partials/home_UserAdmin.ejs', { quote_of_the_day: quote_of_the_day }) %>

 
        
    <% } else if (user && user.UserRole === 'User') { %>
        
        <%- include('partials/home_UserAdmin.ejs', { quote_of_the_day: quote_of_the_day }) %>


    <% } else { %>
        <section class="card_section margin-top: 50px;">
            <div class="row_in_card">
                <div class="homecard one">
                    <h3 class="my_h3">Explore a World of Anime</h3>
                    <p class="my_p">Dive into a captivating collection of anime shows, memorable quotes, and beloved characters. Uncover hidden gems and relive your favorite classics.</p>
                </div>
                <div class="homecard two">
                    <h3 class="my_h3">Personalized Watchlist</h3>
                    <p class="my_p">Create a watchlist tailored to your tastes. Organize your anime viewing and never miss out on your must-watch shows.</p>
                </div>
            </div>
            <div class="row_in_card">
                <div class="homecard three">
                    <h3 class="my_h3">Review and Rate</h3>
                    <p class="my_p">Share your thoughts on beloved anime and manga characters. Provide ratings and engage in lively character dis ssions with the community.</p>
                </div>
                <div class="homecard four">
                    <h3 class="my_h3">Progress Tracking</h3>
                    <p class="my_p">Effortlessly monitor your anime journey. Never lose your place in ongoing series, and continue your adventures without interruption.<p>
                </div>
            </div>
            <div class="join-button-container">
                <a href="/signup" class="join-button">Join Now</a>
            </div>
        </section>
    <% } %>
    
    
    <section class="filter_section d-flex justify-content-evenly mb-3">
        <div class="row">
            <div class="sec-center"> 	
                <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
                <label class="for-dropdown" for="dropdown">Genres<i class="fa fa-arrow-down"></i></label>
                <div class="section-dropdown"> 
                    <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
                    <a href="#">Action<i class="fa fa-arrow-right"></i></a>
                    <a href="#">Adventure <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Superpower <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Comedy<i class="fa fa-arrow-right"></i></a>
                    <a href="#">Fantasy <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Historical <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Drama<i class="fa fa-arrow-right"></i></a>
                    <a href="#">Supernatural <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Martial Arts <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Dark Fantasy<i class="fa fa-arrow-right"></i></a>
                    <a href="#">Shounen <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Superpower <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Shojo<i class="fa fa-arrow-right"></i></a>
                    <a href="#">Romance <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Horror <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Psychological <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Thriller <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sec-center"> 	
                <input class="dropdown" type="checkbox" id="dropdown_2" name="dropdown"/>
                <label class="for-dropdown" for="dropdown_2">Year<i class="fa fa-arrow-down"></i></label>
                <div class="section-dropdown"> 
                    <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
                    <a href="#">2020<i class="fa fa-arrow-right"></i></a>
                    <a href="#">2021 <i class="fa fa-arrow-right"></i></a>
                    <a href="#">2022 <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sec-center"> 	
                <input class="dropdown" type="checkbox" id="dropdown_3" name="dropdown"/>
                <label class="for-dropdown" for="dropdown_3">Status<i class="fa fa-arrow-down"></i></label>
                <div class="section-dropdown"> 
                    <li><input class="form-control" id="myInput" type="text" placeholder="Search.."></li>
                    <a href="#">Ongoing<i class="fa fa-arrow-right"></i></a>
                    <a href="#">Finished <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Hiatus <i class="fa fa-arrow-right"></i></a>
                    <a href="#">Planned <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section>
            <div class="header_title_anime one">
                <h2 class="my_h2 text-light" style="margin-left: 70px !important;">POPULAR NOW</h2>
            </div>
    </section>
    
    <div class='popular_now_block'>
        <div class="recentAnime">
          <div class="animeCard">
            <% if (animeMangaList && Array.isArray(animeMangaList) && animeMangaList.length > 0) { %>
                <% const recentAnimeList = animeMangaList.slice(0, 5).reverse(); %>
                <% recentAnimeList.forEach(anime => { %>

                <div class="card" title="<strong><%= anime.TitleEnglish %></strong>" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" 
                    data-bs-content="
                            <% const score = 40; %>
                            <span class='badge <%= score >= 50 ? 'bg-success' : 'bg-danger' %>'>
                                <%= score %>% <%= score >= 50 ? '😊' : '😞' %>
                            </span>

                        <p><strong>Number of Episodes:</strong> <%= anime.EpisodeCount %></p>
                        <p><strong>Status:</strong> <%= anime.AnimeStatus %></p>
                        <p><strong>Genres:</strong><br>
                            <% const genres = anime.Genre.split(','); %>
                            <% genres.forEach(genre => { %>
                              <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                            <% }); %>
                        </p>">
                  
                        <% if (anime.AnimeFormat === 'Anime') { %>
                            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                                <img class="cover_image" src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                              </a>
                              <div class="animeName">
                                <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                              </div>
                            <% } %>
                            <% if (anime.AnimeFormat === 'Manga') { %>
                                <a href="/manga/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                                    <img class="cover_image" src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                                  </a>
                                  <div class="animeName">
                                    <a href="/manga/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                                  </div>
                                <% } %>
                </div>
              <% }); %>
            <% } else { %>
              <p>No anime available in the database.</p>
            <% } %>
          </div>
        </div>
    </div>
    <section>
        <div class="header_title_anime one">
            <h2 class="my_h2 text-light" style="margin-left: 70px !important;">RECENTLY ADDED</h2>
        </div>
    </section>
    <div class='popular_now_block'>
        <div class="recentAnime">
          <div class="animeCard">
            <% if (animeMangaList && Array.isArray(animeMangaList) && animeMangaList.length > 0) { %>
                <% const recentAnimeList = animeMangaList.slice(-5).reverse(); %> 
                <% recentAnimeList.forEach(anime => { %>

                <div class="card" title="<strong><%= anime.TitleEnglish %></strong>" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" 
                    data-bs-content="
                            <% const score = 40; %>
                            <span class='badge <%= score >= 50 ? 'bg-success' : 'bg-danger' %>'>
                                <%= score %>% <%= score >= 50 ? '😊' : '😞' %>
                            </span>

                        <p><strong>Number of Episodes:</strong> <%= anime.EpisodeCount %></p>
                        <p><strong>Status:</strong> <%= anime.AnimeStatus %></p>
                        <p><strong>Genres:</strong><br>
                            <% const genres = anime.Genre.split(','); %>
                            <% genres.forEach(genre => { %>
                              <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                            <% }); %>
                        </p>">
                    <% if (anime.AnimeFormat === 'Anime') { %>
                        <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                            <img class="cover_image" src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                          </a>
                          <div class="animeName">
                            <a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                          </div>
                        <% } %>
                        <% if (anime.AnimeFormat === 'Manga') { %>
                            <a href="/manga/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>">
                                <img class="cover_image" src="<%= anime.CoverImageURL %>" alt="<%= anime.TitleEnglish %>">
                              </a>
                              <div class="animeName">
                                <a href="/manga/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><%= anime.TitleEnglish %></a>
                              </div>
                            <% } %>
                
                </div>
              <% }); %>
            <% } else { %>
              <p>No anime available in the database.</p>
            <% } %>
          </div>
        </div>
    </div>

    <% if (user && user.UserRole === 'Admin') { %>
    <% } else if (user && user.UserRole === 'User') { %>
        <% } else { %>
    <section>
        <div class="reviews_header_title">
            <h2 class="my_h2 text-light" style="margin-left: 70px !important;">Make Your Own Reviews </h2>
        </div>
    </section>
    <section class="review_box">
        <div class="slide_container active">
            <div class="slide">
                <i class="fa fa-quote-right icon"></i>
                <div class="user">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="User profile picture">
                    <div class="user-info">
                        <h3>john deo 1</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <p id="text" class="spoiler">TEXT</p>
               
            </div>
        </div>
        <div class="slide_container active">
            <div class="slide">
                <i class="fa fa-quote-right icon"></i>
                <div class="user">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/020/911/732/small/profile-icon-avatar-icon-user-icon-person-icon-free-png.png" alt="User profile picture">
                    <div class="user-info">
                        <h3>john deo 2</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <p id="text" class="spoiler">TEXT</p>
                
            </div>
        </div>
        <div class="slide_container">
            <div class="slide">
                <i class="fa fa-quote-right icon"></i>
                <div class="user">
                    <img src="/img/website_logo.png" alt="User profile picture">
                    <div class="user-info">
                        <h3>john deo 3</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <p id="text" class="spoiler">TEXT</p>
                
            </div>
        </div>
        <div class="slide_container">
            <div class="slide">
                <i class="fa fa-quote-right icon"></i>
                <div class="user">
                    <img src="/img/website_logo.png" alt="User profile picture">
                    <div class="user-info">
                        <h3>john deo 4</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <p id="text" class="spoiler">TEXT</p>
                
            </div>
        </div>
        <div id="next_arrow" class="fa fa-chevron-right" onclick="next()"></div>
        <div id="prev_arrow" class="fa fa-chevron-left" onclick="prev()"></div>
    </section>
    <% } %>
    
</div>


<div class="colored_background"></div>

<div class="colored_background_accent"></div>

<div class="container mb-5">
    <section>
        <div class="header_title_anime one">
            <h2 class="my_h2" style="margin-left: 70px !important;">TOP 100</h2>
        </div>
    </section>
    <div class='top_100'>
        <% if (animeMangaList && Array.isArray(animeMangaList) && animeMangaList.length > 0) { %>
            <% const recentAnimeList = animeMangaList.slice(-5).reverse(); %> 
            <% recentAnimeList.forEach((anime, index) => { %>
                <div class="individual_card">
                    <div class="number text-light"><strong>#<%= index + 1 %></strong></div>
                    <div class="the_three">
                        <div class="name_box">
                            <img src="<%= anime.CoverImageURL %>" alt="Anime Image">
                            <div>
                                <% if (anime.AnimeFormat === 'Anime') { %>
                                    <p><a href="/anime/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><strong><%= anime.TitleEnglish %></strong></a></p>
                                    <% } %>
                                    <% if (anime.AnimeFormat === 'Manga') { %>
                                        <p><a href="/manga/<%= anime.AnimeID %>/<%= anime.TitleEnglish %>"><strong><%= anime.TitleEnglish %></strong></a></p>
                                        <% } %>
                                <% const genres = anime.Genre.split(','); %>
                                <div>
                                    <% genres.forEach(genre => { %>
                                        <span class='badge bg-danger me-1'><%= genre.trim() %></span>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <p class="status"><strong>TV Show</strong></p>
                            <p class="tv-details"><%= anime.EpisodeCount %> Episodes</p>
                            <p class="rating">30 <%= 30 >= 50 ? '😊' : '😞' %></p>
                            <p class="likes"><i class="fa fa-thumbs-up"></i> <%= anime.EpisodeCount %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No anime available in the database.</p>
        <% } %>
    </div>
    
</div>
<%- include('partials/footer.ejs') %>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    </script>
   <script>
    let reviews_slides = document.querySelectorAll('.slide_container');
    let index = 0;

    function updateActiveClass() {
        for (let i = 0; i < reviews_slides.length; i++) {
            reviews_slides[i].classList.remove('active');
        }
        reviews_slides[index].classList.add('active');
        reviews_slides[(index + 1) % reviews_slides.length].classList.add('active');
    }

    function next() {
        index = (index + 2) % reviews_slides.length;
        updateActiveClass();
    }

    function prev() {
        index = (index - 2 + reviews_slides.length) % reviews_slides.length;
        updateActiveClass();
    }

    // Initial setup for the first two cards
    updateActiveClass();
</script>


</body>
</html>
