
<%
const title = user ? `${user.Username}'s favourites - YourAnimeHub` : 'YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleWatchlist.css">

<div class="container mt-5">

  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">FAVOURITE ANIME</h2>
  </div>
  <div class="anime-block">
    <% if (FavouriteAnime === null || FavouriteAnime.length === 0) { %>
      <p>No favourites anime yet.</p>
    <% } else { %>
      <table class="table">
        <thead>
          <tr>
            <td><strong>Title</strong></td>

            <td><strong>Episode Count</strong></td>
            <td><strong>Likes</strong></td>
            <td><strong>Type</strong></td>
          </tr>
        </thead>
        <tbody>
          <% FavouriteAnime.forEach((animeDetails) => { %>
            <tr class="anime-row">
              <td>
                <a href="/anime/<%= animeDetails.AnimeID%>/<%=animeDetails.TitleEnglish%>">
                  <div class="anime_title_box">
                    <img src="<%= animeDetails.CoverImageURL %>" alt="<%= animeDetails.TitleEnglish %>" class="img-thumbnail" width="50">
                    <p><%= animeDetails.TitleEnglish %></p>
                  </div>
                </a>
              </td>
              <td><%= animeDetails.EpisodeCount %></td>
              <td><%= animeDetails.Likes %></td>
              <td><%= animeDetails.TypeFormat %></td>

            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>
  <button class="view_all_btn" id="load-more-button3">Load More</button>
  
  
  

  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">FAVOURITE MANGA</h2>
  </div>
  <div class="anime-block">
    <% if (FavouriteManga === null || FavouriteManga.length === 0) { %>
      <p>No favourites manga yet.</p>
    <% } else { %>
      <table class="table">
        <thead>
          <tr>
            <td><strong>Title</strong></td>
            <td><strong>Chapter Count</strong></td>
            <td><strong>Volumes Count</strong></td>
            <td><strong>Likes</strong></td>
          </tr>
        </thead>
        <tbody>
          <% FavouriteManga.forEach((mangaDetails) => { %>
            <tr class="anime-row">
              <td>
                <a href="/manga/<%= mangaDetails.AnimeID%>/<%=mangaDetails.TitleEnglish%>">
                  <div class="anime_title_box">
                    <img src="<%= mangaDetails.CoverImageURL %>" alt="<%= mangaDetails.TitleEnglish %>" class="img-thumbnail" width="50">
                    <p><%= mangaDetails.TitleEnglish %></p>
                  </div>
                </a>
              </td>
              <td><%= mangaDetails.Chapters %></td>
              <td><%= mangaDetails.Volumes %></td>
              <td><%= mangaDetails.Likes %></td>

            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>
  <button class="view_all_btn" id="load-more-button2">Load More</button>


  
  
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">FAVOURITE CHARACTER</h2>
  </div>
  <div class="anime-block">
    <% if (FavouriteCharacter === null || FavouriteCharacter.length === 0) { %>
      <p>No favourites character yet.</p>
    <% } else { %>
      <table class="table">
        <thead>
          <tr>
            <td><strong>Name</strong></td>
            <td><strong>Birthday</strong></td>
            <td><strong>Likes</strong></td>
          </tr>
        </thead>
        <tbody>
          <% FavouriteCharacter.forEach((charDetails) => { %>
            <tr class="anime-row">
              <td>
                <a href="/character/<%= charDetails.CharacterID%>/<%=charDetails.CharName%>">
                  <div class="anime_title_box">
                    <img src="<%= charDetails.ImageURL %>" alt="<%= charDetails.CharName %>" class="img-thumbnail" width="50">
                    <p><%= charDetails.CharName %></p>
                  </div>
                </a>
              </td>
              <td><%= charDetails.Birthday %></td>
              <td><%= charDetails.Likes %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>

  <button class="view_all_btn" id="load-more-button">Load More</button>


  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">FAVOURITE QUOTE</h2>
  </div>
  <div class="anime-block">
    <% if (FavouriteQuote === null || FavouriteQuote.length === 0) { %>
      <p>No favourites quotes yet.</p>
    <% } else { %>
      <table class="table">
        <thead>
          <tr>
            <td><strong>Text</strong></td>
            <td><strong>Character</strong></td>
            <td><strong>Anime</strong></td>
          </tr>
        </thead>
        <tbody>
          <% FavouriteQuote.forEach((quoteDetails) => { %>
            <tr class="anime-row2">
              <td>
                <a href="/quote/<%= quoteDetails.QuoteID %>">
                  <div class="anime_title_box">
                    <p><%= quoteDetails.QuoteText %></p>
                  </div>
                </a>
              </td>
              <td>
                <a href="/character/<%= quoteDetails.CharacterID%>/<%=quoteDetails.CharName%>">
                  <div class="anime_title_box">
                    <img src="<%= quoteDetails.ImageURL %>" alt="<%= quoteDetails.CharName %>" class="img-thumbnail" width="50">
                    <p><%= quoteDetails.CharName %></p>
                  </div>
                </a>
              </td>
              <td>
                <% if (quoteDetails.AnimeFormat == 'Manga') { %>
                  <a href="/manga/<%= quoteDetails.AnimeID %>/<%= quoteDetails.TitleEnglish %>">
               <% } %>
               <% if (quoteDetails.AnimeFormat == 'Anime') { %>
                  <a href="/anime/<%= quoteDetails.AnimeID %>/<%=quoteDetails.TitleEnglish %>">
               <% } %>
               <div class="anime_title_box">
                <img src="<%= quoteDetails.CoverImageURL %>" alt="<%= quoteDetails.TitleEnglish %>" class="img-thumbnail" width="50">
                <p><%= quoteDetails.TitleEnglish %></p>
              </div>
            </a>
               
              
              </td>

            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>
  <button class="view_all_btn" id="load-more-button4">Load More</button>
  
</div>

<%- include('../partials/footer.ejs', { title: title }) %>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    let displayedCharCount = 4;

    const animeTable = document.getElementById("anime-table");
    const animeRows = document.querySelectorAll(".anime-row");

    // Initially hide rows greater than 4
    animeRows.forEach((row, index) => {
      if (index >= displayedCharCount) {
        row.style.display = "none";
      }
    });

    document.getElementById("load-more-button").addEventListener("click", function () {
      for (let i = displayedCharCount; i < displayedCharCount + 4; i++) {
        if (i < animeRows.length) {
          animeRows[i].style.display = "table-row";
        }
      }

      displayedCharCount += 4;

      // Hide load more button if all anime are displayed
      if (displayedCharCount >= animeRows.length) {
        document.getElementById("load-more-button").style.display = "none";
      }
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let displayedCharCount = 4;

    const animeTable = document.getElementById("anime-table");
    const animeRows = document.querySelectorAll(".anime-row");

    // Initially hide rows greater than 4
    animeRows.forEach((row, index) => {
      if (index >= displayedCharCount) {
        row.style.display = "none";
      }
    });

    document.getElementById("load-more-button2").addEventListener("click", function () {
      for (let i = displayedCharCount; i < displayedCharCount + 4; i++) {
        if (i < animeRows.length) {
          animeRows[i].style.display = "table-row";
        }
      }

      displayedCharCount += 4;

      // Hide load more button if all anime are displayed
      if (displayedCharCount >= animeRows.length) {
        document.getElementById("load-more-button2").style.display = "none";
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let displayedCharCount = 4;

    const animeTable = document.getElementById("anime-table");
    const animeRows = document.querySelectorAll(".anime-row");

    // Initially hide rows greater than 4
    animeRows.forEach((row, index) => {
      if (index >= displayedCharCount) {
        row.style.display = "none";
      }
    });

    document.getElementById("load-more-button3").addEventListener("click", function () {
      for (let i = displayedCharCount; i < displayedCharCount + 4; i++) {
        if (i < animeRows.length) {
          animeRows[i].style.display = "table-row";
        }
      }

      displayedCharCount += 4;

      // Hide load more button if all anime are displayed
      if (displayedCharCount >= animeRows.length) {
        document.getElementById("load-more-button3").style.display = "none";
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let displayedCharCount = 4;

    const animeTable = document.getElementById("anime-table");
    const animeRows = document.querySelectorAll(".anime-row2");

    // Initially hide rows greater than 4
    animeRows.forEach((row, index) => {
      if (index >= displayedCharCount) {
        row.style.display = "none";
      }
    });

    document.getElementById("load-more-button4").addEventListener("click", function () {
      for (let i = displayedCharCount; i < displayedCharCount + 4; i++) {
        if (i < animeRows.length) {
          animeRows[i].style.display = "table-row";
        }
      }

      displayedCharCount += 4;

      // Hide load more button if all anime are displayed
      if (displayedCharCount >= animeRows.length) {
        document.getElementById("load-more-button4").style.display = "none";
      }
    });
  });
</script>

</body>
</html>