
<%
const title = user ? `${user.Username}'s animeList- YourAnimeHub` : 'YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleWatchlist.css">

<a class="cardHeader_a" href="/user/watchlist/manga/complete">
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">SEE MANGA COMPLETED LIST</h2>
  </div>
</a>

<div class="container mt-5"><!-- Completed Section -->
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">COMPLETED</h2>
  </div>
  <div class="anime-block">
    <% if (CompleteAnimeList === null || CompleteAnimeList.length === 0) { %>
      <p>No completed anime yet.</p>
    <% } else { %>
      <table class="table">
        <thead>
          <tr>
            <td><strong>Title</strong></td>
            <td><strong>Rate</strong></td>
            <td><strong>Episode Progress</strong></td>
            <td><strong>Type</strong></td>
          </tr>
        </thead>
        <tbody>
          <% CompleteAnimeList.forEach((animeDetails) => { %>
            <tr class="anime-row">
              <td>
                <a href="/anime/<%= animeDetails.AnimeID%>/<%=animeDetails.TitleEnglish%>">
                  <div class="anime_title_box">
                    <img src="<%= animeDetails.CoverImageURL %>" alt="<%= animeDetails.TitleEnglish %>" class="img-thumbnail" width="50">
                    <p><%= animeDetails.TitleEnglish %></p>
                  </div>
                </a>
              </td>
              <td><%= animeDetails.RateGrade %></td>
              <% if (animeDetails.TypeFormat == "Movie") { %>
                <td>1</td>
              <% } %>
              <% if (animeDetails.TypeFormat == "TV") { %>
                <td><%= animeDetails.EpisodeProgress %> / <%= animeDetails.EpisodeCount %></td>
              <% } %>
              <td><%= animeDetails.TypeFormat %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>

</div>
<button class="view_all_btn" id="load-more-button">Load More</button>

<%- include('../partials/footer.ejs', { title: title }) %>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let displayedCharCount = 6;

    const animeTable = document.getElementById("anime-table");
    const animeRows = document.querySelectorAll(".anime-row");

    // Initially hide rows greater than 6
    animeRows.forEach((row, index) => {
      if (index >= displayedCharCount) {
        row.style.display = "none";
      }
    });

    document.getElementById("load-more-button").addEventListener("click", function () {
      for (let i = displayedCharCount; i < displayedCharCount + 6; i++) {
        if (i < animeRows.length) {
          animeRows[i].style.display = "table-row";
        }
      }

      displayedCharCount += 6;

      // Hide load more button if all anime are displayed
      if (displayedCharCount >= animeRows.length) {
        document.getElementById("load-more-button").style.display = "none";
      }
    });
  });
</script>

</body>
</html>
