
<%
const title = user ? `${user.Username}'s animeList- YourAnimeHub` : 'YourAnimeHub';
%>

<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleWatchlist.css">


<a class="cardHeader_a" href="/user/watchlist/manga">
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">SEE MANGA LIST</h2>
  </div>
</a>

<div class="container mt-5">


<!-- Watching Section -->
<div class="header_title_anime one">
  <h2 class="my_h2 text-light" style="margin-left: 20px !important;">WATCHING</h2>
</div>
<div class="anime-block">
  <% if (WatchingAnimeList === null || WatchingAnimeList.length === 0) { %>
    <p>No currently watching anime added yet.</p>
  <% } else { %>
    <table class="table">
      <thead>
        <tr>
          <td><strong>Title</strong></td>
          <td><strong>Rate</strong></td>
          <td><strong>Progress</strong></td>
          <td><strong>Type</strong></td>
        </tr>
      </thead>
      <tbody>
        <% WatchingAnimeList.slice(0, 6).forEach((animeDetails) => { %>
          <tr class="anime-row">
            <td>
              <a href="/anime/<%= animeDetails.AnimeID%>/<%=animeDetails.TitleEnglish%>">
                <div class="anime_title_box">
                  <img src="<%= animeDetails[0].CoverImageURL %>" alt="<%= animeDetails[0].TitleEnglish %>" class="img-thumbnail" width="50">
                  <p><%= animeDetails[0].TitleEnglish %></p>
                </div>
              </a>
            </td>
            <td><%= animeDetails[0].RateGrade %></td>
            <% if (animeDetails[0].TypeFormat == "Movie") { %>
              <td>0/1</td>
            <% } %>
            <% if (animeDetails[0].TypeFormat == "TV") { %>
              <td><%= animeDetails[0].EpisodeProgress %> / <%= animeDetails[0].EpisodeCount %></td>
            <% } %>
            <td><%= animeDetails[0].TypeFormat %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>

</div>
<button class="view_all_btn" onclick="window.location.href='/user/watchlist/anime/watching'">View All</button>


<!-- Completed Section -->
<div class="header_title_anime one">
  <h2 class="my_h2 text-light" style="margin-left: 20px !important;">COMPLETED</h2>
</div>
<div class="anime-block">
  <% if (CompleteAnimeList === null || CompleteAnimeList.length === 0) { %>
    <p>No completed anime added yet.</p>
  <% } else { %>
    <table class="table">
      <thead>
        <tr>
          <td><strong>Title</strong></td>
          <td><strong>Rate</strong></td>
          <td><strong>Progress</strong></td>
          <td><strong>Type</strong></td>
        </tr>
      </thead>
      <tbody>
        <% CompleteAnimeList.slice(0, 6).forEach((animeDetails) => { %>
          <tr class="anime-row">
            <td>
              <a href="/anime/<%= animeDetails.AnimeID%>/<%=animeDetails.TitleEnglish%>">
                <div class="anime_title_box">
                  <img src="<%= animeDetails[0].CoverImageURL %>" alt="<%= animeDetails[0].TitleEnglish %>" class="img-thumbnail" width="50">
                  <p><%= animeDetails[0].TitleEnglish %></p>
                </div>
              </a>
            </td>
            <td><%= animeDetails[0].RateGrade %></td>
            <% if (animeDetails[0].TypeFormat == "Movie") { %>
              <td>0/1</td>
            <% } %>
            <% if (animeDetails[0].TypeFormat == "TV") { %>
              <td><%= animeDetails[0].EpisodeProgress %> / <%= animeDetails[0].EpisodeCount %></td>
            <% } %>
            <td><%= animeDetails[0].TypeFormat %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>

  </div>
  <button class="view_all_btn" onclick="window.location.href='/user/watchlist/anime/complete'">View All</button>
  
  
  

<!-- Planning Section -->
<div class="header_title_anime one">
  <h2 class="my_h2 text-light" style="margin-left: 20px !important;">PLANNING</h2>
</div>
<div class="anime-block">
  <% if (PlanningAnimeList === null || PlanningAnimeList.length === 0) { %>
    <p>No planned to watch anime added yet.</p>
  <% } else { %>
    <table class="table">
      <thead>
        <tr>
          <td><strong>Title</strong></td>
          <td><strong>Rate</strong></td>
          <td><strong>Progress</strong></td>
          <td><strong>Type</strong></td>
        </tr>
      </thead>
      <tbody>
        <% PlanningAnimeList.slice(0, 6).forEach((animeDetails) => { %>
          <tr class="anime-row">
            <td>
              <a href="/anime/<%= animeDetails.AnimeID%>/<%=animeDetails.TitleEnglish%>">
                <div class="anime_title_box">
                  <img src="<%= animeDetails[0].CoverImageURL %>" alt="<%= animeDetails[0].TitleEnglish %>" class="img-thumbnail" width="50">
                  <p><%= animeDetails[0].TitleEnglish %></p>
                </div>
              </a>
            </td>
            <td><%= animeDetails[0].RateGrade %></td>
            <% if (animeDetails[0].TypeFormat == "Movie") { %>
              <td>0/1</td>
            <% } %>
            <% if (animeDetails[0].TypeFormat == "TV") { %>
              <td><%= animeDetails[0].EpisodeProgress %> / <%= animeDetails[0].EpisodeCount %></td>
            <% } %>
            <td><%= animeDetails[0].TypeFormat %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
  </div>
  <button class="view_all_btn" onclick="window.location.href='/user/watchlist/anime/planning'">View All</button>


  <% if (RewatchedAnimeList !== null) { %>
  <!-- Rewatching Section -->
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">REWATCHING</h2>
  </div>
  <div class="anime-block">
      <table class="table">
        <thead>
          <tr>
            <td><strong>Title</strong></td>
            <td><strong>Rate</strong></td>
            <td><strong>Progress</strong></td>
            <td><strong>Type</strong></td>
          </tr>
        </thead>
        <tbody>
          <% RewatchedAnimeList.slice(0, 6).forEach((animeDetails) => { %>
            <tr class="anime-row">
              <td>
                <a href="/anime/<%= animeDetails.AnimeID%>/<%=animeDetails.TitleEnglish%>">
                  <div class="anime_title_box">
                    <img src="<%= animeDetails[0].CoverImageURL %>" alt="<%= animeDetails[0].TitleEnglish %>" class="img-thumbnail" width="50">
                    <p><%= animeDetails[0].TitleEnglish %></p>
                  </div>
                </a>
              </td>
              <td><%= animeDetails[0].RateGrade %></td>
              <% if (animeDetails[0].TypeFormat == "Movie") { %>
                <td>0/1</td>
              <% } %>
              <% if (animeDetails[0].TypeFormat == "TV") { %>
                <td><%= animeDetails[0].EpisodeProgress %> / <%= animeDetails[0].EpisodeCount %></td>
              <% } %>
              <td><%= animeDetails[0].TypeFormat %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
  </div>
  <% } %>


  <% if (PausedAnimeList !== null) { %>
  <!-- Paused Section -->
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">PAUSED</h2>
  </div>
  <div class="anime-block">
      <table class="table">
        <thead>
          <tr>
            <td><strong>Title</strong></td>
            <td><strong>Rate</strong></td>
            <td><strong>Progress</strong></td>
            <td><strong>Type</strong></td>
          </tr>
        </thead>
        <tbody>
          <% PausedAnimeList.slice(0, 6).forEach((animeDetails) => { %>
            <tr class="anime-row">
              <td>
                <a href="/anime/<%= animeDetails.AnimeID%>/<%=animeDetails.TitleEnglish%>">
                  <div class="anime_title_box">
                    <img src="<%= animeDetails[0].CoverImageURL %>" alt="<%= animeDetails[0].TitleEnglish %>" class="img-thumbnail" width="50">
                    <p><%= animeDetails[0].TitleEnglish %></p>
                  </div>
                </a>
              </td>
              <td><%= animeDetails[0].RateGrade %></td>
              <% if (animeDetails[0].TypeFormat == "Movie") { %>
                <td>0/1</td>
              <% } %>
              <% if (animeDetails[0].TypeFormat == "TV") { %>
                <td><%= animeDetails[0].EpisodeProgress %> / <%= animeDetails[0].EpisodeCount %></td>
              <% } %>
              <td><%= animeDetails[0].TypeFormat %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
  </div>
  <% } %>


  <% if (DroppedAnimeList !== null) { %>
  <!-- Dropped Section -->
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">DROPPED</h2>
  </div>
  <div class="anime-block">
      <table class="table">
        <thead>
          <tr>
            <td><strong>Title</strong></td>
            <td><strong>Rate</strong></td>
            <td><strong>Progress</strong></td>
            <td><strong>Type</strong></td>
          </tr>
        </thead>
        <tbody>
          <% DroppedAnimeList.slice(0, 6).forEach((animeDetails) => { %>
            <tr class="anime-row">
              <td>
                <a href="/anime/<%= animeDetails.AnimeID%>/<%=animeDetails.TitleEnglish%>">
                  <div class="anime_title_box">
                    <img src="<%= animeDetails[0].CoverImageURL %>" alt="<%= animeDetails[0].TitleEnglish %>" class="img-thumbnail" width="50">
                    <p><%= animeDetails[0].TitleEnglish %></p>
                  </div>
                </a>
              </td>
              <td><%= animeDetails[0].RateGrade %></td>
              <% if (animeDetails[0].TypeFormat == "Movie") { %>
                <td>0/1</td>
              <% } %>
              <% if (animeDetails[0].TypeFormat == "TV") { %>
                <td><%= animeDetails[0].EpisodeProgress %> / <%= animeDetails[0].EpisodeCount %></td>
              <% } %>
              <td><%= animeDetails[0].TypeFormat %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
  </div>
  <% } %>
  


</div>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>