
<%- include('../partials/header.ejs', { title: title }) %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/styleProfile.css">
<link type="text/css" rel="stylesheet" href="/css/styleHome.css">

<div class="header__wrapper">
    <div class="cols__container">
      <div class="left__col">
        <div class="img__container">
          <img src="<%= user.ProfilePictureURL %>" alt="<%= user.Username %>" />
          <span></span>
        </div>
        <h2><%= user.Username %></h2>
        <p><%= user.Email %></p>
        <% if (user.FirstName || user.LastName ) { %>
          <p style="font-size: 12px;"><%= user.FirstName %> <%= user.LastName %></p>
        <% } %>

        <ul class="about">
          <li><span><%= StatsCount.AnimeCount %></span>Anime completed</li>
          <li><span><%= StatsCount.MangaCount %></span>Manga completed</li>
          <li><span><%= StatsCount.ReviewCount %></span>Reviews made</li>
        </ul>

        <div class="content">
          <p>
            <%- user.Bio %>
          </p>
        </div>
      </div>
      <div class="right__col">
        <nav>
            <ul>
              <li><a href="/user/watchlist/anime">Watchlist</a></li>
              <li><a href="/user/favourites">Favourites</a></li>
              <li><a href="/user/reviews">Reviews</a></li>
            </ul>
            <button class="menu_btn" onclick="location.href='/user/settings'">SETTINGS</button>
          </nav>

          <div class="top_header">
            <h3 class="my_h3 text-light" style="margin-left:20px; text-decoration: underline;text-underline-position: under;">
                <a style="color:white;" href="/user/watchlist/anime">Anime Currently Watching</a>
            </h3>
            <div class="anime_container">
                  <% if (WatchingAnimeList !== null) { %>
                    <% WatchingAnimeList.slice(0, 5).forEach((animeDetails) => { %>
                        <div class="anime_boxes">
                            <div class="anime_box">
                                <a href="/anime/<%= animeDetails.AnimeID %>/<%= animeDetails.TitleEnglish %>">
                                    <div class="box-img">
                                        <img src="<%= animeDetails.CoverImageURL %>" alt="<%= animeDetails.TitleEnglish %>">
                                    </div>
                                    <div class="animeName">
                                        <a href="/anime/<%= animeDetails.AnimeID %>/<%= animeDetails.TitleEnglish %>">
                                            <%= animeDetails.TitleEnglish %>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p style="color:white; margin-left: 30px;">You are currently watching nothing.</p>
                <% } %>
            </div>
        </div>
        <div class="top_header">
          <h3 class="my_h3 text-light" style="margin-left:20px; text-decoration: underline;text-underline-position: under;">
              <a style="color:white;" href="/user/watchlist/manga">Manga Currently Reading</a>
          </h3>
          <div class="anime_container">
              <% if (ReadingMangaList !== null) { %>
                <% ReadingMangaList.slice(0, 5).forEach((mangaDetails) => { %>
                      <div class="anime_boxes">
                          <div class="anime_box">
                              <a href="/manga/<%= mangaDetails.AnimeID %>/<%= mangaDetails.TitleEnglish %>">
                                  <div class="box-img">
                                      <img src="<%= mangaDetails.CoverImageURL %>" alt="<%= mangaDetails.TitleEnglish %>">
                                  </div>
                                  <div class="animeName">
                                      <a href="/manga/<%= mangaDetails.AnimeID %>/<%= mangaDetails.TitleEnglish %>">
                                          <%= mangaDetails.TitleEnglish %>
                                      </a>
                                  </div>
                              </a>
                          </div>
                      </div>
                  <% }); %>
              <% } else { %>
                  <p style="color:white; margin-left: 30px;">You are currently reading nothing.</p>
              <% } %>
          </div>
      </div>
    

<div class="stats-section">
  <h3>User Stats</h3>
  <div class="stats-boxes">
    <div class="stats-box">
      <span>Total Anime in Watchlist:</span>
      <span class="stats-value"><%=StatsCount.MangaInWatchlist %></span>
    </div>

    <div class="stats-box">
      <span>Total Manga in Watchlist:</span>
      <span class="stats-value"><%= StatsCount.MangaInWatchlist %></span>
    </div>
  </div>
</div>

<!-- Manga Reading Stats -->
<div class="manga-reading-stats">
  <h3>Manga Reading Stats</h3>
  <div class="stats-boxes">
    <div class="stats-box">
      <span>Total Chapters:</span>
      <span class="stats-value"><%= StatsCount.chaptersListnbr %></span>
    </div>
    
  </div>
</div>

        </div>
      </div>
    </div>


<%- include('../partials/footer.ejs', { title: title }) %>


</body>
</html>