
<%
const title = user ? `${user.Username}'s mangaList- YourAnimeHub` : 'YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleWatchlist.css">

<a class="cardHeader_a" href="/user/watchlist/anime/complete">
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">SEE ANIME COMPLETE LIST</h2>
  </div>
</a>

<div class="container mt-5"><!-- Completed Section -->
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">COMPLETED</h2>
  </div>
  <div class="anime-block">
    <% if (CompleteMangaList === null || CompleteMangaList.length === 0) { %>
      <p>No completed manga yet.</p>
    <% } else { %>
      <table class="table">
        <thead>
          <tr>
            <td><strong>Title</strong></td>
            <td><strong>Rate</strong></td>
            <td><strong>Chapter Progress</strong></td>
          <td><strong>Volume Progress</strong></td>
          <td><strong>Action</strong></td>
          </tr>
        </thead>
        <tbody>
          <% CompleteMangaList.forEach((mangaDetails) => { %>
            <tr class="anime-row">
              <td>
                <a href="/manga/<%= mangaDetails.AnimeID%>/<%=mangaDetails.TitleEnglish%>">
                  <div class="anime_title_box">
                    <img src="<%= mangaDetails.CoverImageURL %>" alt="<%= mangaDetails.TitleEnglish %>" class="img-thumbnail" width="50">
                    <p><%= mangaDetails.TitleEnglish %></p>
                  </div>
                </a>
              </td>
              <td><%= mangaDetails.RateGrade %></td>
              <td><%= mangaDetails.ChaptersRead %> / <%= mangaDetails.Chapters %></td>
              <td><%= mangaDetails.VolumeProgress %> / <%= mangaDetails.Volumes %></td>
              <td>
                <form action="/user/watchlist/manga/<%= mangaDetails.AnimeID %>/remove" method="POST">
                    <button type="submit" class="delete_btn" onclick="return confirm('Are you sure you want to remove from watchlist?')">
                        <i class="fa fa-times"></i>
                    </button>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>

</div>
<button class="view_all_btn" id="load-more-button">Load More</button>

<%- include('../partials/footer.ejs', { title: title }) %>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let displayedCharCount = 6;

    const animeTable = document.getElementById("anime-table");
    const animeRows = document.querySelectorAll(".anime-row");

    // Initially hide rows greater than 6
    animeRows.forEach((row, index) => {
      if (index >= displayedCharCount) {
        row.style.display = "none";
      }
    });

    document.getElementById("load-more-button").addEventListener("click", function () {
      for (let i = displayedCharCount; i < displayedCharCount + 6; i++) {
        if (i < animeRows.length) {
          animeRows[i].style.display = "table-row";
        }
      }

      displayedCharCount += 6;

      // Hide load more button if all anime are displayed
      if (displayedCharCount >= animeRows.length) {
        document.getElementById("load-more-button").style.display = "none";
      }
    });
  });
</script>

</body>
</html>
