
<%- include('../partials/header.ejs', { title: title }) %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/styleProfile.css">

<div class="header__wrapper">
    <div class="cols__container">
      <div class="left__col">
        <div class="img__container">
          <img src="<%= user.ProfilePictureURL %>" alt="<%= user.Username %>" />
          <span></span>
        </div>
        <h2><%= user.Username %></h2>
        <p><%= user.Email %></p>

        <ul class="about">
          <li><span>4,073</span>Followers</li>
          <li><span>322</span>Following</li>
          <li><span>200,543</span>Attraction</li>
        </ul>

        <div class="content">
          <p>
            <%- user.Bio %>
          </p>
        </div>
      </div>
      <div class="right__col">
        <nav>
            <ul>
              <li><a href="">Anime</a></li>
              <li><a href="">Manga</a></li>
              <li><a href="">Stats</a></li>
              <li><a href="">About</a></li>
            </ul>
            <button>Follow</button>
          </nav>
    
          <!-- Anime Section -->
          <div class="anime-section">
            <!-- Add code to display anime saved by the user -->
          </div>
    
          <!-- Manga Section -->
          <div class="manga-section">
            <!-- Add code to display manga saved by the user -->
          </div>
    
          <!-- Stats Section -->
          <div class="stats-section">
            <h3>User Stats</h3>
            <ul>
              <li>Total Anime in Watchlist: <span>1000</span></li>
              <li>Total Manga in Watchlist: <span>1000</span></li>
              <li>Total Liked Quotes: <span>1000</span></li>
              <li>Total Liked Characters: <span>1000</span></li>
              <li>Number of Anime Completed: <span>1000</span></li>
              <li>Number of Manga Completed: <span>1000</span></li>
              <li>Number of Anime Need to Watch: <span>1000</span></li>
              <li>Number of Manga Need to Watch: <span>1000</span></li>
              <li>Number of Anime Currently Watching: <span>1000</span></li>
              <li>Number of Manga Currently Watching: <span>1000</span></li>
            </ul>
          </div>
    
          <!-- Manga Reading Stats -->
          <div class="manga-reading-stats">
            <h3>Manga Reading Stats</h3>
            <ul>
              <li>1. Total Manga: <span>700</span></li>
              <li>2. Chapters Read: <span>72</span></li>
              <li>3. Volumes Read: <span>72</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


<%- include('../partials/footer.ejs', { title: title }) %>


</body>
</html>