<%
const title = 'Settings - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleUserSettings.css">
<script src="https://cdn.tiny.cloud/1/gbl5h02naji6v4juzg4ldw79ye3bcz14xpuov8uamb2zu2sz/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  
  tinymce.init({
    selector: 'textarea#editor',
    skin: 'bootstrap', 
  plugins: 'lists, link, image, media',
  toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
  menubar: false,
  height: 150,
  setup: (editor) => {
      // Apply the focus effect
      editor.on("init", () => {
      editor.getContainer().style.transition = "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
        });
      editor.on("focus", () => { (editor.getContainer().style.boxShadow = "0 0 0 .2rem rgba(0, 123, 255, .25)"),
      (editor.getContainer().style.borderColor = "#80bdff");
        });
      editor.on("blur", () => {
      (editor.getContainer().style.boxShadow = ""),
      (editor.getContainer().style.borderColor = "");
       });
     },
  });
</script>

<div class="container">
  <div class="row gutters">
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="account-settings">
        <div class="user-profile">
          <div class="user-avatar">
            <img src="<%= fetched_user.ProfilePictureURL %>" alt="<%= fetched_user.Username %>">
          </div>
          <h5 class="user-name"><%= fetched_user.Username %></h5>
          <h6 class="user-email"><%= fetched_user.Email %></h6>
        </div>
        <div class="about">
          <h5>About</h5>
          <p><%- fetched_user.Bio %></p>
        </div>
        <div class="side_btn">
          <a href="/user/watchlist/anime" class="menu_btn">Watchlist</a>
        </div>
        <div class="side_btn">
          <a href="/user/favourites" class="menu_btn">Favourites</a>
        </div>
        <div class="side_btn">
          <a href="/user/reviews" class="menu_btn">Reviews</a>
        </div>
        
      </div>
    </div>
  </div>
  </div>
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 fs-2" style="color: rgb(41, 81, 135);">Profile</h6>
        </div>

        <form action="/user/settings/update/profile" method="post">
          <div class="pl-lg-4 mb-3">
            <div class="form-group focused">
              <div class="form-group">
                <textarea rows="2" name="bio" id="editor"><%=fetched_user.Bio%></textarea>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="pl-lg-4 mb-3">
              <div class="form-group">
                <label><strong>Title Display</strong></label>
                <select class="form-select" aria-label="Default select example" name="titleDisplay">
                  <option value="titleEnglish">Romaji (Kimetsu no Yaiba)</option>
                  <option value="titleRomaji">English (Demon Slayer)</option>
                  <option value="titleNative">Native (鬼滅の刃)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="profile-picture-upload mb-3">
            <label><strong>Avatar</strong></label>
            <div class="current-profile-picture">
              <img src="<%= fetched_user.ProfilePictureURL %>" alt="<%= fetched_user.Username %>" class="profile-picture">
            </div>
            <input type="text" name="profile_pic" value="<%= fetched_user.ProfilePictureURL %>" class="form-control">
          </div>      
          <input type="submit" class="btn_upload mb-4" value="Save Informations">    
        </form>
      </div>
      <hr>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 fs-2" style="color: rgb(41, 81, 135);">Personal Details</h6>
        </div>
        <form action="/user/settings/update/personal_details" method="post">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="form-group">
              <label for="fullName"><strong>Username</strong></label>
              <p style="font-size: 13px; font-style: italic;">Changing your username will disconnect you and you'll need to log In again.</p>
              <input type="text" class="form-control" name="username" value="<%= fetched_user.Username%>">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="form-group">
              <label for="eMail"><strong>Email</strong></label>
              <input type="email" name="email" value="<%= fetched_user.Email %>" class="form-control" id="email">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="form-group">
              <label for="eMail"><strong>Birthday</strong></label>
              <input type="date" name="birthday" value="<%= fetched_user.Birthday %>" class="form-control" id="birthday">
            </div>
          </div>
          <input type="submit" class="btn_upload mb-4" value="Save Informations"> 
             
        </form>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 fs-2" style="color: rgb(41, 81, 135);">Password</h6>
        </div>

        <form action="/user/settings/update/password" method="post">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="form-group">
              <label for="fullName"><strong>Password</strong></label>
              <input class="form-control" placeholder="New Password" type="password" name="userPassword" minlength="8" id="password1" required oninput="validateForm()">

            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="form-group">
              <label for="fullName"><strong>Confirm Password</strong></label>
              <input class="form-control" placeholder="Confirm Password" type="password" id="password2" required oninput="validateForm()">
              <p id="passwordMatchMessage"></p>
            </div>
          </div>   
          <input type="submit" id="submitButton" class="btn_upload mb-4" value="Save Informations">    
        </form>
      </div>
      <hr>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 text-primary">Delete Account</h6>
        </div>
        <p style="font-size: 13px; font-style: italic; font-weight: 600;">Warning! This will permanently delete all your account data.</p>
        <input type="submit" class="delete_btn mb-4" value="Delete Account">    
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>


  <%- include('../partials/footer.ejs', { title: title }) %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <script>
    function validateForm() {
      var password1 = document.getElementById("password1").value;
      var password2 = document.getElementById("password2").value;
      var message = document.getElementById("passwordMatchMessage");
      var submitButton = document.getElementById("submitButton");
  
      if (password1 !== password2) {
        message.innerHTML = "Passwords do not match!";
        submitButton.disabled = true; // Disable the submit button
        return false; // Prevent form submission
      } else {
        message.innerHTML = "";
        submitButton.disabled = false; // Enable the submit button
        return true; // Allow form submission
      }
    }
  </script>
  

</body>
</html>