
<%
const title = user ? `${user.Username}'s mangaList- YourAnimeHub` : 'YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleWatchlist.css">

<a class="cardHeader_a" href="/user/watchlist/anime/planning">
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">SEE ANIME PLANNING LIST</h2>
  </div>
</a>

<div class="container mt-5">
  <!-- Completed Section -->
  <div class="header_title_anime one">
    <h2 class="my_h2 text-light" style="margin-left: 20px !important;">PLANNING</h2>
  </div>
  <div class="anime-block">
    <table class="table" id="anime-table">
      <thead>
        <tr>
          <td><strong>Title</strong></td>
          <td><strong>Rate</strong></td>
          <td><strong>Progress</strong></td>
          <td><strong>Type</strong></td>
        </tr>
      </thead>
      <tbody>
        <% PlanningMangaList.slice(0, 10).forEach((mangaDetails, index) => { %>
          <tr class="anime-row" id="anime-row-<%= index %>">
            <td>
              <a href="/anime/<%= mangaDetails.AnimeID%>/<%=mangaDetails.TitleEnglish%>">
                <div class="anime_title_box">
                  <img src="<%= mangaDetails[0].CoverImageURL %>" alt="<%= mangaDetails[0].TitleEnglish %>" class="img-thumbnail" width="50">
                  <p><%= mangaDetails[0].TitleEnglish %></p>
                </div>
              </a>
            </td>
            <td><%= mangaDetails[0].RateGrade %></td>
              <% if (mangaDetails[0].TypeFormat == "Movie") { %>
                <td>1</td>
              <% } %>
              <% if (mangaDetails[0].TypeFormat == "TV") { %>
                <td><%= mangaDetails[0].EpisodeProgress %> / <%= mangaDetails[0].Chapters %></td>
              <% } %>
              <% if (mangaDetails[0].TypeFormat == "TV") { %>
                <td><%= mangaDetails[0].VolumeProgress %> / <%= mangaDetails[0].Volumes %></td>
              <% } %>
              <td><%= mangaDetails[0].TypeFormat %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>



    <% if (PlanningMangaList.length === 0) { %>
      <p>No planned to watch manga added yet.</p>
    <% } %>
  </div>
</div>
<button class="view_all_btn" id="load-more-button">Load More</button>

<%- include('../partials/footer.ejs', { title: title }) %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let displayedCharCount = 10;

    const animeTable = document.getElementById("anime-table");
    const animeRows = document.querySelectorAll(".anime-row");

    // Initially hide rows greater than 10
    animeRows.forEach((row, index) => {
      if (index >= displayedCharCount) {
        row.style.display = "none";
      }
    });

    document.getElementById("load-more-button").addEventListener("click", function () {
      for (let i = displayedCharCount; i < displayedCharCount + 10; i++) {
        if (i < animeRows.length) {
          animeRows[i].style.display = "table-row";
        }
      }

      displayedCharCount += 10;

      // Hide load more button if all anime are displayed
      if (displayedCharCount >= animeRows.length) {
        document.getElementById("load-more-button").style.display = "none";
      }
    });
  });
</script>

</body>
</html>
